:css
  .private_cols {
    float: left;
    width: 50%;
  }
  .public_cols {
    float: right;
    width: 50%;
  }
  .btn-index-create {
    position: absolute;
    right: 30px;
  }

-if !current_user.nil?
  = link_to new_collection_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
    %span.glyphicon.glyphicon-plus
    Create Collection

.private_cols
  -if @private_collections.nil? || @private_collections.empty?
    %h2 No private collections
  -else 
    %h2 Your Private Collections
    = will_paginate @private_collections, :param_name => "private_page"
    %ul.collections
      - @private_collections.each do |collection|
        %br
        %li
          -col_path = "/collections/" + collection.id.to_s
          %a{:href => col_path}
            %span.glyphicon.glyphicon-th-list
            #{collection.name}
.public_cols
  -if @public_collections.empty?
    %h2 No public collections
  -else 
    %h2 All Public Collections
    = will_paginate @public_collections, :param_name => "public_page"
    %ul.collections
      - @public_collections.each do |collection|
        %br
        %li
          -col_path = "/collections/" + collection.id.to_s
          %a{:href => col_path}
            %span.glyphicon.glyphicon-th-list
            #{collection.name}

/%h1 Public Collections

/= will_paginate @public_collections

/= link_to new_collection_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
/  %span.glyphicon.glyphicon-plus
/  Create Collection

/%ul.collections
/  - @public_collections.each do |collection|
/    %br
/    %li
/      -col_path = "/collections/" + collection.id.to_s
/      %a{:href => col_path}
/        %span.glyphicon.glyphicon-th-list
/        #{collection.name}
