:css

  .edit_col {
    width: 20%;
    float: right;
  }

%h1= @collection.name
%br
-if !@collection.overview.blank?
  %p= @collection.overview
  %br
-if @user.id == @collection.owner_id
  %a{:class => "edit_col", :href => edit_collection_path(params[:id])}
    %span.glyphicon.glyphicon-pencil
    Edit

#tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-link" => "all"} All
    %li
      %a{"data-link" => "dm"} Methods
    %li
      %a{"data-link" => "cs"} Case Studies

.tab-pane.col-md-12.padding{"data-link" => "all"}
  - @collection.design_methods.each do |dm|
    = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"3")
  - @collection.case_studies.each do |cs|
    = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")
.tab-pane.col-md-12.padding{"data-link" => "dm"}
  - @collection.design_methods.each do |dm|
    = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"3")
/ Case Study Search Tab
.tab-pane.col-md-12.padding{"data-link" => "cs"}
  - @collection.case_studies.each do |cs|
    = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")

/%ul
/- @collection.design_methods.each do |dm|
/  = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"3")
/- @collection.case_studies.each do |cs|
/  = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")
