:css
  .edit_col {
    width: 20%;
    float: right;
  }
  .col-xs-6 {
    width: 100%;
    padding-left: 0px;
  }
  .author-info {
    width: 10%;
    padding-left: 0px;
  }
  .col-basics {
    width: 50%;
    display: inline-block;
  }
  .col-owner {
    width: 50%;
    float: right;
    padding-top: 50px;
  }
  .nav-tab:hover {
    cursor: pointer;
  }

.col-basics
  %h1= @collection.name

  - if @collection.is_private
    %h5 Private Collection
  - else
    %h5 Public Collection
  %br
  -if !@collection.overview.blank?
    %p= @collection.overview
    %br

.col-owner
  %h4 Collection Owner 
  .col-xs-6
    .col-xs-4.author-info
      - if @author.profile_picture.present?
        = image_tag(@author.profile_picture, class: "fit-all", :style => "padding: 10%")
      - else
        /TODO lol we need to self host this asap
        = image_tag("http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg", class: "fit-all",:style => "padding: 10%")
    .col-xs-8
      %p= link_to @author.first_name + " " + @author.last_name, user_path(@author.id)
      %p= @author.email != nil ? @author.email : "-"

  -if !@user.nil?
    -if @user.id == @collection.owner_id
      %a{:class => "edit_col", :href => edit_collection_path(params[:id])}
        %span.glyphicon.glyphicon-pencil
        Edit
        
#tabs
  %ul.nav.nav-tabs
    %li.active.nav-tab
      %a{"data-link" => "all"} All
    %li.nav-tab
      %a{"data-link" => "dm"} Methods
    %li.nav-tab
      %a{"data-link" => "cs"} Case Studies

.tab-pane.col-md-12.padding{"data-link" => "all"}
  - @collection.design_methods.each do |dm|
    = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(dm,"3")
  - @collection.case_studies.each do |cs|
    = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(cs,"3")
.tab-pane.col-md-12.padding{"data-link" => "dm"}
  - @collection.design_methods.each do |dm|
    = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(dm,"3")
/ Case Study Search Tab
.tab-pane.col-md-12.padding{"data-link" => "cs"}
  - @collection.case_studies.each do |cs|
    = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(cs,"3")
