.panel.panel-default.login-margin.panel-primary
  .panel-heading
    %h3.panel-title Account Information
  .panel-body
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .input
        = f.text_field :username, {:autofocus => true, :placeholder => "Username", :class => "form-control"}
      %br/
      .input
        = f.text_field :first_name, {:autofocus => true, :placeholder => "First Name", :class => "form-control"}
      %br/
      .input
        = f.text_field :last_name, {:autofocus => true, :placeholder => "Last Name", :class => "form-control"}
      %br/
      .input
        = f.email_field :email, {:autofocus => true, :placeholder => "Email", :class => "form-control"}
      %br/
      .input
        = f.text_field :affiliation, {:autofocus => true, :class => "form-control", :placeholder => "Affiliation (optional)"}
      %br/
      .input
        = f.text_field :zip_code, {:autofocus => true, :class => "form-control", :placeholder => "Zip Code (optional)"}
      %br/
      %ul.nav.nav-pills
        %li.active
          %a{"data-toggle" => "pill", :href => "#student"} Student
        %li
          %a{"data-toggle" => "pill", :href => "#educator"} Educator
        %li
          %a{"data-toggle" => "pill", :href => "#designer"} Design Practitioner
        %li
          %a{"data-toggle" => "pill", :href => "#other"} Other
      .tab-content{:style=>"margin:5px 0px 0px 10px;"}
        #student.tab-pane.fade.in.active
          = f.radio_button :member_type, 'Undergraduate Student', :checked => true
          Undergraduate Student
          %br/
          = f.radio_button :member_type, 'Graduate Student' 
          Graduate Student
        #educator.tab-pane.fade
          = f.radio_button :member_type, 'Undergraduate Educator'
          Undergraduate Educator
          %br/
          = f.radio_button :member_type, 'Graduate Educator' 
          Graduate Educator
        #designer.tab-pane.fade
          = f.radio_button :member_type, 'Design Practitioner with 0-5 years experience'
          0-5 years of experience
          %br/
          = f.radio_button :member_type, 'Design Practitioner with 5-10 years experience'
          5-10 years of experience
          %br/
          = f.radio_button :member_type, 'Design Practitioner with 10+ years experience'
          10+ years of experience
        #other.tab-pane.fade
          = f.radio_button :member_type, 'Other'
          Other

      %br/
      .input
        = f.password_field :password, {:autocomplete => "off", :autofocus => true, :placeholder => "New Password", :class => "form-control"}
      %br/
      .input
        = f.password_field :password_confirmation, {:autofocus => true, :placeholder => "New Password Confirmation", :class => "form-control"}
      %br/
      .input
        = f.password_field :current_password, {:autofocus => true, :placeholder => "Current Password", :class => "form-control"}
      %br/
      .row
        .col-md-12= f.submit "Save", {:class => "btn btn-default pull-right"}
= link_to "Cancel my account", registration_path(resource_name), { :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "login-margin"}
