:javascript
  $(function(){
    $('.tab-pane[data-link ="'+ "all" +'"]').show().siblings(".tab-pane").hide();
    $('#tabs li a').click(function(e){
      e.preventDefault();
      // Alternate tabs
      $(this).parent()
             .addClass('active')
             .siblings()
             .removeClass('active');
      var link = $(this).data('link');
  
      // $('.tab-pane[data-link ~="'+ link +'"]').hide();
      $('.tab-pane[data-link ="'+ link +'"]').show().siblings(".tab-pane").hide();
    })
  });
:css
  .padding{
    	padding-top: 15px;
  }
  
  .social-icon{
  	width: 32px;
  	height: 32px;
  	margin: 10px;
  	display: inline;
  }
/ BODY
.row
  / PROFILE INFO
  .col-md-3{:style => "border-right:1px solid #dddddd;"}
    .col-md-12{:style => "text-align: center;"}
      %h4
        = @user.first_name
        = @user.last_name
      %h5
        %a= @user.username
    .col-md-12
      - if @user.profile_picture.present?
        = image_tag(@user.profile_picture, class: "fit-all", :style => "padding: 10%")
      - else
        = image_tag("no-profile-available.jpg", class: "fit-all",:style => "padding: 10%")
    - if !@is_current_user
      .col-md-12
        %button.btn.btn-default{:type => "submit"}
          %span.glyphicon.glyphicon-plus
          Follow
        %button.btn.btn-default.pull-right{:type => "submit"}
          %span.glyphicon.glyphicon-envelope
          Message
    .col-md-12
      %h4
        %span.glyphicon.glyphicon-thumbs-up
        Likes
        %span.pull-right #
      %h4
        %span.glyphicon.glyphicon-user
        Followers
        %span.pull-right #
      %h4
        %span.glyphicon.glyphicon-user
        Following
        %span.pull-right #
    .col-md-12
      %h4 Expertise
      %p
        %span.tag-label.label-gap brainstorming
        %span.tag-label.label-gap research
    - if @user.about_text != nil
      .col-md-12
        %h4 About
        %p= @user.about_text
    - if @user.email != nil || @user.website != nil || @user.phone_number != nil
      .col-md-12
        %h4 Contact
        %p= @user.email
        %p= @user.website
        %p= @user.phone_number
    / SOCIAL ICONS
    - if @user.facebook != nil && @user.facebook != ""
      = link_to image_tag("facebook_icon.png", class: "social-icon"), @user.facebook
    - if @user.twitter != nil && @user.twitter != ""
      = link_to image_tag("twitter_icon.ico", class: "social-icon"), @user.twitter
    - if @user.linkedin != nil && @user.linkedin != ""
      = link_to image_tag("linkedin_icon.png", class: "social-icon"), @user.linkedin
    / END SOCIAL ICONS
  / END PROFILE INFO
  / POSTED BY
  .col-md-9
    %h4
      Posted by #{@user.first_name != nil && @user.last_name != nil ? @user.first_name+" "+@user.last_name : @user.username}
      - if @is_current_user
        = link_to "Edit", edit_user_path(@user), :class => "btn btn-default pull-right"
    / NAVBAR
    #tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-link" => "all"} All
        %li
          %a{"data-link" => "dm"} Methods
        %li
          %a{"data-link" => "cs"} Case Studies
        %li
          %a{"data-link" => "disc"} Discussions
        %li
          %a{"data-link" => "col"} Collections
    / END NAVBAR
    / THUMBNAILS
    .tab-pane.col-md-12.padding{"data-link" => "all"}
      - @owned_methods.each do |dm|
        = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"4")
    .tab-pane.col-md-12.padding{"data-link" => "dm"}
      - @owned_methods.each do |dm|
        = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"4")
    / Case Study Search Tab
    .tab-pane.col-md-12.padding{"data-link" => "cs"}
    / Discussion Search Tap
    .tab-pane.col-md-12.padding{"data-link" => "disc"}
      - @owned_discussions.each do |disc|
        = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(disc,"4")


    .tab-pane.col-md-12.padding{"data-link" => "col"}

      -if @private_collections.empty?

        %h2 No private collections
      -else 
        %h2 Private
      %ul.collections
        - @private_collections.each do |collection|
          %li
            /%a{:href => collection_path}
            -col_path = "/collections/" + collection.id.to_s
            %a{:href => col_path}
              %span.glyphicon.glyphicon-th-list
              #{collection.name}
          /%li=link_to set.name, set

      -if @private_collections.empty?


        %h2 No public collections
      -else 
        %h2 Public
      %ul.collections
        - @public_collections.each do |collection|
          %li
            -col_path = "/collections/" + collection.id.to_s
            %a{:href => col_path}
              %span.glyphicon.glyphicon-th-list
              #{collection.name}
          /%li=link_to set.name, set
        /= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(set,"4")
    / END THUMBNAILS
  / END POSTED BY
/ END BODY
