<div class="panel panel-default login-margin panel-primary">
  <div class="panel-heading ">
    <h3 class="panel-title ">Forgot Your Password?</h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  		<%= devise_error_messages! %>


	  <div class="input">
	  	<%= f.email_field :email, {:autofocus => true, :class => "form-control", :placeholder => "Email"} %>
	  </div>
	  <br>
	<div class="row">
		<div class="col-md-8">
			<%= render "devise/shared/links" %>
		</div>

		<div class="col-md-4">
			<%= f.submit "Send me reset password instructions", {:class=> "btn btn-default pull-right" } %>
		</div>
	</div>
	<% end %>
  </div>
</div>
