<%= form_for(@design_method) do |f| %>
  <% if @design_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design_method.errors.count, "error") %> prohibited this design_method from being saved:</h2>

      <ul>
      <% @design_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><span id="name"></span>
  </div>
  <div class="field">
    <%= f.label :overview %><br />
    <%= f.text_area :overview %><span id="overview"></span>
  </div>
  <div class="field">
    <%= f.label :process %><br />
    <%= f.text_area :process %>
  </div>
  <div class="field">
    <%= f.label :principle %><br />
    <%= f.text_area :principle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
