:javascript
  $(function(){
    $("#users-table").tablesorter({
    // sort on the first column and third column, order asc
    sortList: [[0,0],[1,0],[2,0],[3,0],[4,0]]
    });
    $("#characteristics-table").tablesorter({
    // sort on the first column and third column, order asc
    sortList: [[0,0],[1,0],[2,0]]
    });

    //.tablesorterPager({container: $("#pager")});
  });

:css
  .padding{
      padding-top: 15px;
  }
  .social-icon{
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline;
  }
  .nav-tabs{
    cursor: pointer;
  }
  .tab-pane{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
/ %form{:controller => 'administrator', :action => :sort}

/   %input{:name => "sort", :type => "radio",  :value => "name", :style => "margin-right:5px"}
/     Sort Users By Name

/   %br
/   %input{:name => "sort", :type => "radio", :value => "username", :style => "margin-right:5px"}
/     Sort Users By UserName

/   %br
/   %input{:name => "sort", :type => "radio", :value => "email", :style => "margin-right:5px"}
/     Sort Users By Email
/   %br
/   %input{:name => "sort", :type => "radio", :value => "date", :style => "margin-right:5px"}
/     Sort Users By Date Created
/   %br
/   = submit_tag("Sort")

%h1 Administrator Tools
/Tabs
.row.padding
  #tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-link" => "users"} Users
      %li
        %a{"data-link" => "characteristics"} Characteristics

.tab-pane.row{"data-link" => "users"}
  %table#users-table.tablesorter.tablesorter-blue
    %thead
      %tr
        %th Username
        %th First Name
        %th Last Name
        %th Email
        %th Permission


      / %tr
      /   %td{:colspan => "5"}
      /     .pager
      /       %nav.left
      /         \# per page:
      /         %a.current{:href => "#"} 10
      /         |
      /         %a{:href => "#"} 25
      /         |
      /         %a{:href => "#"} 50
      /         |
      /         %a{:href => "#"} 100
      /       %nav.right
      /         %span.prev
      /           %img{:src => "images/prev.png"}\
      /           Prev&nbsp;
      /         %span.pagecount
      /         \&nbsp;
      /         %span.next
      /           Next
      /           %img{:src => "images/next.png"}\
    %tbody
    - for user in @users
      %tr
        %td
          = user.username
        %td
          = user.first_name
        %td
          = user.last_name
        %td
          = user.email
        %td
          - if user.admin?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Admin
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Admin"
                %li= link_to "Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
          - elsif user.editor?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Editor
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Editor"
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
          - elsif user.basic?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Basic
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Basic"
          - else
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                None
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id


.tab-pane.row{"data-link" => "characteristics"}
  %table#characteristics-table.tablesorter.tablesorter-blue
    %thead
      %tr
        %th Characteristic Name
        %th Characteristic Group
        %th Updated At
    / %tfoot
    /   %tr
    /     %th Name
    /     %th Major
    /     %th Updated

    / %tr
    /   %td{:colspan => "2"}
    /     .pager
    /       %nav.left
    /         \# per page:
    /         %a.current{:href => "#"} 10
    /         |
    /         %a{:href => "#"} 25
    /         |
    /         %a{:href => "#"} 50
    /         |
    /         %a{:href => "#"} 100
    /       %nav.right
    /         %span.prev
    /           %img{:src => "images/prev.png"}\
    /           Prev&nbsp;
    /         %span.pagecount
    /         \&nbsp;
    /         %span.next
    /           Next
    /           %img{:src => "images/next.png"}\
    %tbody
    - for char in @characteristics
      %tr
        %td
          %li.dropdown{:style => "list-style: none"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = char.name
              %b.caret
            %ul.dropdown-menu


              = form_for char do |f|
                .input-group-lg{:style => "margin-top: 10px;margin-bottom: 10px;"}
                = f.text_field :name, :class=> "form-control", :placeholder => "Change Characteristic Name", :style => "margin-left:10px; width:130px"
                = f.submit "Change Name", :id => "add-set-btn", :class => "btn btn-primary", :style => "margin-top: 5px; margin-left:10px"
              //%li= link_to "Change Characteristic", :controller => "administrator", :action => :changeCharacteristic, :id => user.id
              %li= link_to "Delete Characteristic", :controller => "administrator", :action => :changeEditor, :id => user.id
        %td

          = CharacteristicGroup.find_by(id:char.characteristic_group).name
        %td
          = char.updated_at


  / = render :partial => '/shared/tablesorter_pager'
  /   .col-md-12

  /     #tabs
  /       %ul.nav.nav-tabs
  /         %li.active
  /           %a{"data-link" => "all"} All
  /         %li
  /           %a{"data-link" => "admin"} Admin
  /         %li
  /           %a{"data-link" => "editor"} Editor
  /         %li
  /           %a{"data-link" => "basic"} Basic
  /     .tab-pane.col-md-12.padding{"data-link" => "all"}


  /       .row

  /         - @users.each do |user|
  /           .col-md-3

  /             - if user.profile_picture.present?
  /               = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
  /             - else
  /               = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

  /             %li.dropdown{:style => "list-style: none"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = user.username
  /                 %b.caret
  /               %ul.dropdown-menu
  /                 - if user.admin?
  /                   %li= link_to user.first_name + " " + user.last_name
  /                   %li= link_to user.email
  /                   %li= link_to "Admin"
  /                   %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
  /                   %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
  /                 - elsif user.editor?
  /                   %li= link_to user.first_name + " " + user.last_name
  /                   %li= link_to user.email
  /                   %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
  /                   %li= link_to "Editor"
  /                   %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
  /                 - elsif user.basic?
  /                   %li= link_to user.first_name + " " + user.last_name
  /                   %li= link_to user.email
  /                   %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
  /                   %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
  /                   %li= link_to "Basic"
  /                 - else
  /                   %li= link_to user.first_name + " " + user.last_name
  /                   %li= link_to user.email
  /                   %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
  /                   %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
  /                   %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
  /       = will_paginate @users, :param_name => 'page'

  /     /  Admin Tab
  /     .tab-pane.col-md-12.padding{"data-link" => "admin"}
  /       .row
  /         - @usersAdmin.each do |user|
  /           .col-md-3

  /             - if user.profile_picture.present?
  /               = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
  /             - else
  /               = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

  /             %li.dropdown{:style => "list-style: none"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = user.username
  /                 %b.caret
  /               %ul.dropdown-menu
  /                 %li= link_to user.first_name + " " + user.last_name
  /                 %li= link_to user.email
  /                 %li= link_to "Admin"
  /                 %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
  /                 %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
  /       = will_paginate @usersAdmin, :param_name => 'admin_page'

  /     / Editor Tab
  /     .tab-pane.col-md-12.padding{"data-link" => "editor"}
  /       .row
  /         - @usersEditor.select{|user| user.editor?}.each do |user|
  /           .col-md-3

  /             - if user.profile_picture.present?
  /               = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
  /             - else
  /               = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

  /             %li.dropdown{:style => "list-style: none"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = user.username
  /                 %b.caret
  /               %ul.dropdown-menu
  /                 %li= link_to user.first_name + " " + user.last_name
  /                 %li= link_to user.email
  /                 %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
  /                 %li= link_to "Editor"
  /                 %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
  /       = will_paginate @usersEditor, :param_name => 'editor_page'

  /     /Basic Tab
  /     .tab-pane.col-md-12.padding{"data-link" => "basic"}
  /       .row
  /         - @usersBasic.select{|user| user.basic?}.each do |user|
  /           .col-md-3

  /             - if user.profile_picture.present?
  /               = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
  /             - else
  /               = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

  /             %li.dropdown{:style => "list-style: none"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = user.username
  /                 %b.caret
  /               %ul.dropdown-menu
  /                 %li= link_to user.first_name + " " + user.last_name
  /                 %li= link_to user.email
  /                 %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
  /                 %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
  /                 %li= link_to "Basic"
  /       = will_paginate @usersBasic, :param_name => 'basic'

  / %h1 Characterisitcs
  / .row
  /   / Characteristics

  /   .col-md-12

  /     #tabs
  /       %ul.nav.nav-tabs

  /         %li.active
  /           %a{"data-link" => "characteristics"} Characteristics
  /         %li
  /           %a{"data-link" => "chargroups"} Characteristic Groups


  /     / Char Tab
  /     .tab-pane.col-md-12.padding{"data-link" => "characteristics"}
  /       .row
  /         - for char in @characteristics
  /           .col-md-3
  /             %li.dropdown{:style => "list-style: none; margin-top: 15px"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = char.name

  /                 %b.caret
  /               %ul.dropdown-menu
  /                 %li= link_to "Edit Characteristic", data: { confirm: "Are you sure?" }
  /                 %li= link_to "Delete Characteristic"

  /       = will_paginate @characteristics, :param_name => 'characteristics_page'


  /     /  Char-group Tab
  /     .tab-pane.col-md-12.padding{"data-link" => "chargroups"}
  /       .row
  /         - for charGroup in @CharacteristicGroups

  /           .col-md-3
  /             %li.dropdown{:style => "list-style: none; margin-top: 15px"}
  /               %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
  /                 = charGroup.name
  /                 %b.caret
  /               %ul.dropdown-menu
  /                 %li= link_to "Edit Characteristic Group"
  /                 %li= link_to "Delete Characteristic Group"
  /       = will_paginate @CharacteristicGroups, :param_name => 'char_groups_page'



