%h1 All users
:javascript
  $(function(){
    $('.tab-pane[data-link ="'+ "all" +'"]').show().siblings(".tab-pane").hide();
    $('#tabs li a').click(function(e){
      e.preventDefault();
      // Alternate tabs
      $(this).parent()
             .addClass('active')
             .siblings()
             .removeClass('active');
      var link = $(this).data('link');

      // $('.tab-pane[data-link ~="'+ link +'"]').hide();
      $('.tab-pane[data-link ="'+ link +'"]').show().siblings(".tab-pane").hide();
    })
  });
:css
  .padding{
      padding-top: 15px;
  }

  .social-icon{
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline;
  }
/ BODY
.row
  / PROFILE INFO

  .col-md-12

    #tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-link" => "all"} All
        %li
          %a{"data-link" => "admin"} Admin
        %li
          %a{"data-link" => "editor"} Editor
        %li
          %a{"data-link" => "basic"} Basic
    .tab-pane.col-md-12.padding{"data-link" => "all"}


      .row
        - @users.each do |user|
          .col-md-3

            - if user.profile_picture.present?
              = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
            - else
              = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = user.username
                %b.caret
              %ul.dropdown-menu
                - if user.admin?
                  %li= link_to "Admin"
                  %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                  %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
                - elsif user.editor?
                  %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
                  %li= link_to "Editor"
                  %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
                - elsif user.basic?
                  %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
                  %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                  %li= link_to "Basic"
                - else
                  %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
                  %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                  %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id

    /  Admin Tab
    .tab-pane.col-md-12.padding{"data-link" => "admin"}
      .row
        - @users.select{|user| user.admin?}.each do |user|
          .col-md-3

            - if user.profile_picture.present?
              = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
            - else
              = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = user.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Admin"
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id

    / Editor Tab
    .tab-pane.col-md-12.padding{"data-link" => "editor"}
      .row
        - @users.select{|user| user.editor?}.each do |user|
          .col-md-3

            - if user.profile_picture.present?
              = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
            - else
              = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = user.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Editor"
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id

    /Basic Tab
    .tab-pane.col-md-12.padding{"data-link" => "basic"}
      .row
        - @users.select{|user| user.basic?}.each do |user|
          .col-md-3

            - if user.profile_picture.present?
              = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
            - else
              = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%")

            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = user.username
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin",  :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Basic"
