:javascript
  $(function(){
    $("#users-table").tablesorter({
      widgets: ['pager'],
      ignoreCase: true,
      sortList: [[0,0],[1,0],[2,0],[3,0],[4,0]],
      theme: 'blue',
      widgetOptions: {
        pager_updateArrows: true,
        pager_ajaxUrl: null,
        pager_css: {
          container : 'users-tablesorter-pager',    // class added to make included pager.css file work
          disabled : 'tablesorter-pager-disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },
        pager_selectors: {
          container : '.users-tablesorter-pager',       // target the pager markup (wrapper)
          first : '.first',       // go to first page arrow
          prev : '.prev',        // previous page arrow
          next : '.next',        // next page arrow
          last : '.last',        // go to last page arrow
          gotoPage : '.gotoPage',    // go to page selector - select dropdown that sets the current page
          pageDisplay : '.pagedisplay', // location of where the "output" is displayed
          pageSize : '.pagesize'     // page size selector - select dropdown that sets the "size" option
        }
      }
    });

    $("#characteristics-table").tablesorter({
      widgets: ['pager'],
      ignoreCase: true,
      sortList: [[0,0],[1,0],[2,0]],
      theme: 'blue',
      widgetOptions: {
        pager_updateArrows: true,
        pager_ajaxUrl: null,
        pager_css: {
          container : 'char-tablesorter-pager',    // class added to make included pager.css file work
          disabled : 'tablesorter-pager-disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },
        pager_selectors: {
          container : '.char-tablesorter-pager',       // target the pager markup (wrapper)
          first : '.first',       // go to first page arrow
          prev : '.prev',        // previous page arrow
          next : '.next',        // next page arrow
          last : '.last',        // go to last page arrow
          gotoPage : '.gotoPage',    // go to page selector - select dropdown that sets the current page
          pageDisplay : '.pagedisplay', // location of where the "output" is displayed
          pageSize : '.pagesize'     // page size selector - select dropdown that sets the "size" option
        }
      }
    });

      $("#methods-table").tablesorter({
      widgets: ['pager'],
      ignoreCase: true,
      sortList: [[0,0],[1,0],[2,0],[3,0],[4,0],[5,0]],
      theme: 'blue',
      widgetOptions: {
        pager_updateArrows: true,
        pager_ajaxUrl: null,
        pager_css: {
          container : 'methods-tablesorter-pager',    // class added to make included pager.css file work
          disabled : 'tablesorter-pager-disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },
        pager_selectors: {
          container : '.methods-tablesorter-pager',       // target the pager markup (wrapper)
          first : '.first',       // go to first page arrow
          prev : '.prev',        // previous page arrow
          next : '.next',        // next page arrow
          last : '.last',        // go to last page arrow
          gotoPage : '.gotoPage',    // go to page selector - select dropdown that sets the current page
          pageDisplay : '.pagedisplay', // location of where the "output" is displayed
          pageSize : '.pagesize'     // page size selector - select dropdown that sets the "size" option
        }
      }
    });

      $("#casestudies-table").tablesorter({
      widgets: ['pager'],
      ignoreCase: true,
      sortList: [[0,0],[1,0],[2,0],[3,0],[4,0]],
      theme: 'blue',
      widgetOptions: {
        pager_updateArrows: true,
        pager_ajaxUrl: null,
        pager_css: {
          container : 'casestudies-tablesorter-pager',    // class added to make included pager.css file work
          disabled : 'tablesorter-pager-disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },
        pager_selectors: {
          container : '.casestudies-tablesorter-pager',       // target the pager markup (wrapper)
          first : '.first',       // go to first page arrow
          prev : '.prev',        // previous page arrow
          next : '.next',        // next page arrow
          last : '.last',        // go to last page arrow
          gotoPage : '.gotoPage',    // go to page selector - select dropdown that sets the current page
          pageDisplay : '.pagedisplay', // location of where the "output" is displayed
          pageSize : '.pagesize'     // page size selector - select dropdown that sets the "size" option
        }
      }
    });

      $("#skills-table").tablesorter({
      widgets: ['pager'],
      ignoreCase: true,
      sortList: [[0,0],[1,0]],
      theme: 'blue',
      widgetOptions: {
        pager_updateArrows: true,
        pager_ajaxUrl: null,
        pager_css: {
          container : 'skills-tablesorter-pager',    // class added to make included pager.css file work
          disabled : 'tablesorter-pager-disabled'              // class added to arrows @ extremes (i.e. prev/first arrows "disabled" on first page)
        },
        pager_selectors: {
          container : '.skills-tablesorter-pager',       // target the pager markup (wrapper)
          first : '.first',       // go to first page arrow
          prev : '.prev',        // previous page arrow
          next : '.next',        // next page arrow
          last : '.last',        // go to last page arrow
          gotoPage : '.gotoPage',    // go to page selector - select dropdown that sets the current page
          pageDisplay : '.pagedisplay', // location of where the "output" is displayed
          pageSize : '.pagesize'     // page size selector - select dropdown that sets the "size" option
        }
      }
    });
  });

:css
  .padding{
      padding-top: 15px;
  }
  .social-icon{
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline;
  }
  .nav-tabs{
    cursor: pointer;
  }
  .tab-pane{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }

%h1 Administrator Tools
/Tabs

.row.padding
  #tabs
    %ul.nav.nav-tabs
      %li.active
        %a{"data-link" => "users"} Users
      %li
        %a{"data-link" => "characteristics"} Characteristics
      %li 
        %a{"data-link" => "methods"} Methods
      %li
        %a{"data-link" => "casestudies"} Case Studies
      %li
        %a{"data-link" => "skills"} Skills
.tab-pane.row{"data-link" => "users"}
  %table#users-table.tablesorter
    %thead
      %tr
        %th Username
        %th First Name
        %th Last Name
        %th Email
        %th Affiliation
        %th Zip Code
        %th Permission
    %tbody
    - for user in @users
      %tr
        %td
          = link_to user.username, user
        %td
          = user.first_name
        %td
          = user.last_name
        %td
          = user.email
        %td
          = user.affiliation
        %td
          = user.zip_code
        %td
          - if user.admin?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Admin
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Admin"
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Author", :controller => "administrator", :action => :changeAuthor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
          - elsif user.editor?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Editor
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Editor"
                %li= link_to "Change to Author", :controller => "administrator", :action => :changeAuthor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
          - elsif user.author?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Author
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Author"
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id
          - elsif user.basic?
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Basic
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Author", :controller => "administrator", :action => :changeAuthor, :id => user.id
                %li= link_to "Basic"
          - else
            %li.dropdown{:style => "list-style: none"}
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                None
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Change to Admin", :controller => "administrator", :action => :changeAdmin, :id => user.id
                %li= link_to "Change to Editor", :controller => "administrator", :action => :changeEditor, :id => user.id
                %li= link_to "Change to Author", :controller => "administrator", :action => :changeAuthor, :id => user.id
                %li= link_to "Change to Basic",  :controller => "administrator", :action => :changeBasic, :id => user.id

  .users-tablesorter-pager
    = render :partial => '/shared/tablesorter_pager'

.tab-pane.row{"data-link" => "characteristics"}
  = link_to "characteristics/new", :id=> "create-btn",  :class=> "btn btn-default pull-right", :style => "margin-bottom:10px" do
    %span.glyphicon.glyphicon-plus
    Create Characteristic
  %table#characteristics-table.tablesorter
    %thead
      %tr
        %th Characteristic Name
        %th Characteristic Group
        %th Updated At
    %tbody
    - for char in @characteristics
      %tr
        %td
          %li.dropdown{:style => "list-style: none"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = char.name
              %b.caret

            %ul.dropdown-menu
              %li= link_to "Edit Characteristic", :controller => "characteristics", :action => :edit, :id => char.id
              %li= link_to "Delete Characteristic", characteristics_path + "/" + char.id.to_s, { :data => { :confirm => "Are you sure you want to delete this characteristic? Doing so will permanently erase the characteristic and its association with all methods."}, :method => :delete}
        %td
          - if CharacteristicGroup.find_by(id:char.characteristic_group) != nil
            = CharacteristicGroup.find_by(id:char.characteristic_group).name
          - else
            = "None"
        %td
          = char.updated_at


  .char-tablesorter-pager
    = render :partial => '/shared/tablesorter_pager'

.tab-pane.row{"data-link" => "methods"}
  = link_to "design_methods/new", :id=> "create-btn",  :class=> "btn btn-default pull-right", :style => "margin-bottom:10px" do
    %span.glyphicon.glyphicon-plus
    Create Method
  %table#methods-table.tablesorter
    %thead
      %tr
        %th Method Name
        %th Completion Score
        %th Popularity
        %th Video
        %th Image
        %th Hidden
        %th Updated At
    %tbody
    - for method in @design_methods
      %tr
        %td
          %li.dropdown{:style => "list-style: none"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = method.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Edit Method", :controller => "design_methods", :action => :edit, :id => method.id

        %td
          = method.completion_score

        %td
          = method.likes

        %td
          - if method.videoURL.present?
            Yes
          - else
            No  
        %td 
          - if method.picture_url.present?
            Yes
          - else 
            No
        %td
          - if method.hidden?
            Yes
          - else
            No
        %td
          = method.updated_at
  .methods-tablesorter-pager
    = render :partial => '/shared/tablesorter_pager'
.tab-pane.row{"data-link" => "casestudies"}
  = link_to "case_studies/new", :id=> "create-btn",  :class=> "btn btn-default pull-right", :style => "margin-bottom:10px" do
    %span.glyphicon.glyphicon-plus
    Create Case Study
  %table#casestudies-table.tablesorter
    %thead
      %tr
        %th Case Study Name
        %th Completion Score
        %th Image
        %th Hidden
        %th Updated At
    %tbody
    - for cs in @case_studies
      %tr
        %td
          %li.dropdown{:style => "list-style: none"}
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = cs.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Edit Case Study", :controller => "case_studies", :action => :edit, :id => cs.id

        %td
          = cs.completion_score
        %td 
          - if cs.picture_url.present?
            Yes
          - else
            No
        %td
          - if cs.hidden?
            Yes
          - else
            No
        %td
          = cs.updated_at
  .casestudies-tablesorter-pager
    = render :partial => '/shared/tablesorter_pager'
.tab-pane.row{"data-link" => "skills"}
  %table#skills-table.tablesorter
    %thead
      %tr
        %th Method Name
        %th Skills
      
    %tbody
    - for method in @methods_with_skills
      %tr
        %td 
          = method.name
        %td 
          - skills = method.skills.split("\r\n")
          - for skill in skills
            %li 
              = skill.gsub("-","").gsub("*","")
  .skills-tablesorter-pager
    = render :partial => '/shared/tablesorter_pager'
