= form_for([@company, @contact]) do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2
        = pluralize(@contact.errors.count, "error")
        prohibited this contact from being saved:
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :name
      %br/
      = f.text_field :name, :class => "form-control"
    .field
      = f.label :email
      %br/
      = f.text_field :email, :class => "form-control"
    .field
      = f.label :phone
      %br/
      = f.text_field :phone, :class => "form-control"
    .field
      = f.label :company_id
      %br/
      = select("contact", "company_id", Company.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, :class => "form-control")
  .actions
    = f.submit
