%p#notice= notice
%p
  %strong Name:
  = @contact.name
%p
  %strong Email:
  = @contact.email
%p
  %strong Phone:
  = @contact.phone
%p
  %strong Company:
  = @contact.company.name
= link_to 'Edit', edit_contact_path(@contact)
|
= link_to 'Back', contacts_path
