
<!-- Methods -->
<div class="row">
  <div class="col-md-4">
  	<%= link_to "Methods", "/methods/home" %>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
  </div>
  <div class="col-md-8">
  	<div class="row">
  		<div class="col-sm-6 col-md-4 no-gap">
   		 <div class="thumbnail">
   		 	<div class="image-wrapper">
	  		    <img src="http://www.digitaltrends.com/wp-content/uploads/2013/02/eye-tracking.jpg">
  		    </div>
  		    <div class="caption">
  		      <h3><%= link_to "Eyetracking", "/methods/view" %></h3>
  		      <p><span class="glyphicon glyphicon-star"></span> 392 Likes</p>
  		      <p>A technology that analyzes the user's eye movements across</p>
  		      <p><span class="label label-user-testing">user testing</span></p>
  		    </div>
  		  </div>
  		</div>

  	<div class="col-sm-6 col-md-4 no-gap">
   		<div class="thumbnail">
   			<div class="image-wrapper">
	  		   <img src="http://transcribeme.com/wp-content/uploads/2012/07/focus_group.jpg">
	  		</div>
  		   <div class="caption">
  		     <h3><%= link_to "Focus Group", "/methods/view" %></h3>
  		     <p><span class="glyphicon glyphicon-star"></span> 296 Likes</p>
  		     <p>A breakdown of the required information and actions needed to</p>
  		     <p><span class="label label-evaluating">evaluating</span> <span class="label label-analysis">analysis</span></p>
  		   </div>
  	  </div>
  	</div>

  	<div class="col-sm-6 col-md-4 no-gap">
   		<div class="thumbnail">
  		   <div class="image-wrapper">
  		   		<img src="http://yucentrik.ca/sites/default/files/styles/large/public/services/diagramme-tache.jpg">
  		   	</div>
  		   <div class="caption">
  		     <h3><%= link_to "Task Analysis", "/methods/view" %></h3>
  		     <p><span class="glyphicon glyphicon-star"></span> 360 Likes</p>
  		     <p>A panel of people discussing a specific topic or question. Teaches</p>
  		     <p><span class="label label-brainstorming">brainstorming</span> <span class="label label-research">research</span></p>
  		   </div>
  	  </div>
  	</div>
  </div>
</div>
</div>


<!-- Case Studies -->
<div class="row">
  <div class="col-md-4">
  	<%= link_to "Case Studies", "/case_studies/home" %>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
  </div>
  <div class="col-md-8">
  	<div class="row">
  		<div class="col-sm-6 col-md-4 no-gap">
   		 <div class="thumbnail">
  		    <div class="image-wrapper">	
  		    	<img src="http://www.maxymiser.com/uploads/AB-Testing.jpg">
  		    </div>
  		    <div class="caption">
  		      <h3>A/B Test</h3>
  		      <p><span class="glyphicon glyphicon-star"></span> 176 Likes</p>
  		      <p>Offering alternative versions of your product to different users and</p>
  		      <p><span class="label label-user-testing">user testing</span></p>
  		    </div>
  		  </div>
  		</div>

  	<div class="col-sm-6 col-md-4 no-gap">
   		<div class="thumbnail">
  		   	<div class="image-wrapper">	
  		   		<img src="http://images.nationalgeographic.com/wpf/media-live/photos/000/202/cache/greendex-about-study-promo_20250_600x450.jpg">
  		   	</div>
  		   <div class="caption">
  		     <h3>Quantitative Survey</h3>
  		     <p><span class="glyphicon glyphicon-star"></span> 360 Likes</p>
  		     <p>Questions that provide numbers as result. Quick and unexpensive way of</p>
  		     <p><span class="label label-evaluating">evaluating</span> <span class="label label-analysis">analysis</span></p>
  		   </div>
  	  </div>
  	</div>

  	<div class="col-sm-6 col-md-4 no-gap">
   		<div class="thumbnail">
  		   	<div class="image-wrapper">	
  		   		<img src="http://web.mit.edu/2.009/www/resources/illustrator/crash-course/productstoryboardex.jpg">
  		   	</div>
  		   <div class="caption">
  		     <h3>Storyboards</h3>
  		     <p><span class="glyphicon glyphicon-star"></span> 357 Likes</p>
  		     <p>A comic strip that illustrates the series of actions that consumers</p>
  		     <p><span class="label label-brainstorming">brainstorming</span> <span class="label label-research">research</span></p>
  		   </div>
  	  </div>
  	</div>
  </div>

  </div>
</div>

<!-- Discussions -->
<div class="row">

  <div class="col-md-4">
  	<%= link_to "Discussions", "/discussions/home" %>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
  </div>

  <div class="col-md-8">
  	<div class="row profile">
  	<div class="col-md-1">
  		<img src="http://www.sv-hirrlingen.de/bilder/dummy_face.jpg">
  	</div>
  	<div class="col-md-11">
  		<%= link_to "How should I conduct research on lorem ipsum", "/discussions/view" %>
  		<p>Carla Nickelson 5 minutes ago</p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
  	</div>
  </div>

    <div class="row profile">
  	<div class="col-md-1">
  		<img src="http://www.sv-hirrlingen.de/bilder/dummy_face.jpg">
  	</div>
  	<div class="col-md-11">
  		<%= link_to "How should I conduct research on lorem ipsum", "/discussions/view" %>
  		<p>John Yee 2 hours ago</p>
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
  	</div>
  </div>

  </div>
</div>