<script> 
	$(function(){
		var pH = $('#create-btn').parent().parent().height()
		var eH = $('#create-btn').height()
		$('#create-btn').css('margin-top', (pH - eH)/2)
	});
</script>

<div class = "row">
	<div class="col-md-2">

	</div>
  	<div class="col-md-10 left-pad">
	<div class="col-md-6">
		<h1>Popular Methods</h1>
	</div>
  	<div class="col-md-6">
		<button id='create-btn' type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Create Method</button>
  	</div>
  	</div>
</div>
<div class = "row">
	<div class="col-md-2">
		<div class="bs-docs-sidebar hidden-print affix-top" role="complementary" style=" padding-left: 10px;">
            <ul class="nav bs-docs-sidenav">
				<li class="active"><h5>All</h5></li>
				<li class=""><h5>Brainstorming</h5></li>
				<li class=""><h5>Researching</h5></li>
				<li class=""><h5>Prototyping</a>
  					<ul class="nav" style="padding-left: 20px;">
    					<li class=""><h4>Purpose</h4></li>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Look and Feel
    							</label>
  							</div>
  							<div class="checkbox">
    							<label>
      								<input type="checkbox">Technical Implementation
    							</label>
    						</div>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">User Interaction
    							</label>
    						</div>
  						<li class=""><h4>Product Type</h4></li>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Web
    							</label>
    						</div>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Mobile
    							</label>
    						</div>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Physical
    							</label>
    						</div>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Service
    							</label>
    						</div>
  						<li class=""><h4>Fidelity</h4></li>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Low
    							</label>
  							</div>
  							<div class="checkbox">
    							<label>
      								<input type="checkbox">Medium
    							</label>
    						</div>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">High
    							</label>
    						</div>
  						<li class=""><h4>Design Stage</h4></li>
    						<div class="checkbox">
    							<label>
      								<input type="checkbox">Mockup
    							</label>
  							</div>
  							<div class="checkbox">
    							<label>
      								<input type="checkbox">Detail Design
    							</label>
  							</div>
  							<div class="checkbox">
    							<label>
      								<input type="checkbox">Production Build
    							</label>
  							</div>
 					 </ul>
				</li>
				<li class=""><h5>Analysis & Synthesis</h5></li>
				<li class=""><h5>User Testing</h5></li> 
				<li class=""><h5>Communicating Progress</h5></li>             
            </ul>
        </div>
	</div>
  	<div class="col-md-10 left-pad">
  		<%= thumbnail ({:url => "http://web.mit.edu/2.009/www/resources/illustrator/crash-course/productstoryboardex.jpg", :name => "Storyboard", :tags => ["evaluating","research"], :likes => "360", :description => "Bla bla bla"}) %>

  		<%= thumbnail ({:url => "https://evbdn.eventbrite.com/s3-s3/eventlogos/26645807/smallbusinessneed1.jpg", :name => "Evidencing", :tags => ["user testing","research"], :likes => "387", :description => "Bla bla bla"}) %>

  		<%= thumbnail ({:url => "https://evbdn.eventbrite.com/s3-s3/eventlogos/26645807/smallbusinessneed1.jpg", :name => "Evidencing", :tags => ["brainstorming","prototyping"], :likes => "387", :description => "Bla bla bla"}) %>

  		<%= thumbnail ({:url => "https://evbdn.eventbrite.com/s3-s3/eventlogos/26645807/smallbusinessneed1.jpg", :name => "Evidencing", :tags => ["analysis"], :likes => "387", :description => "Bla bla bla"}) %>

  		<%= thumbnail ({:url => "https://evbdn.eventbrite.com/s3-s3/eventlogos/26645807/smallbusinessneed1.jpg", :name => "Evidencing", :tags => ["evaluating"], :likes => "387", :description => "Bla bla bla"}) %>

  		<%= thumbnail ({:url => "https://evbdn.eventbrite.com/s3-s3/eventlogos/26645807/smallbusinessneed1.jpg", :name => "Evidencing", :tags => ["research"], :likes => "387", :description => "Bla bla bla"}) %>
  	</div>
</div>

