<style>
	.fit-all{
		width:100%;
		height:100%;
	}

	.no-padding{
		padding: 0%;
	}
</style>

<!-- Method Name -->
<div class = "row">
	<div class="col-md-9 col-md-offset-3 left-pad">
    <h3><%= @method.name.humanize().split.map(&:capitalize).join(' ') %></h3>
    <p>By <a><%= @author.email %></a></p>
	</div>

</div>
<!-- End Method Name -->

<div class = "row">
    <!-- SIDEBAR -->
	<div id="sidebar" class="col-md-3">
		<div class = "row">
			<h3>What You'll Need</h3>
		</div>

    <!-- PEOPLE -->
		<div class="row">
			<h4>People</h4>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				1 designer
			</p>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				0 users
			</p>
		</div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
  	<div class="row">
			<h4>Tools</h4>
			<p>
				<span class="glyphicon glyphicon-pencil"></span>
				Pen, Paper, Wireframe tool
			</p>
		</div>
    <!-- END TOOLS -->

    <!-- TIME -->
  	<div class="row">
			<h4>Time</h4>
			<p>
				<span class="glyphicon glyphicon-time"></span>
				~ 1 hour
			</p>
  	</div>
    <!-- END TIME -->

    <!-- TAGS -->
  	<div class="row">
			<div class="panel panel-primary">
      			<div class="panel-heading">
        			Tags
      			</div>
      			<div class="panel-body">
        			<!-- POSSIBLE DO WHILE FOR TAGS -->
              <span class="label label-brainstorming">brainstorming 
        			</span> 
        			<span class="label label-research">research 
        			</span>
              <!-- END POSSIBLE DO WHILE FOR TAGS -->
      			</div>
    	</div>
      <!-- END TAGS -->
  	</div>
	</div>
  	<!-- END SIDBAR -->


    <!-- MAIN VIEW  -->
  	<div class="col-md-9 add-padding">
       	<!-- MENU BAR -->
  		<div class="row">
  			<div class="col-md-3">
  				<span class="glyphicon glyphicon-star"></span>
  				382 likes
  			</div>
  			<div class="col-md-3">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<span class="glyphicon glyphicon-folder-open"></span>
          				Add to Set
          			<b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
            		<li><a href="">Add To Set</a></li>
            		<li class="divider"></li>
            		<li><a href="#">My Favorites </a></li>
          		</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          				<span class="glyphicon glyphicon-share"></span>
          					Share
          				<b class="caret"></b>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Email</a></li>
          			</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="pull-right">
          				<span class="glyphicon glyphicon-pencil"></span>
          					Edit
          		</a>
  			</div>
  		</div>
      	<!-- END MENU BAR -->

      	<!-- CONTENT -->
  		<div class="row">
  			<img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="" style="width: 100%; height: 385px;"/>
  		</div>

  		<!-- OVERVIEW & PROCESS -->
  		<div class="row">
  			<h4> Overview </h4>
        	<p><%= @method.overview %></p>
        	<h4> Process </h4>
        	<p><%= @method.process %></p>
    	</div>
    	<!-- END OF OVERVIEW & PROVESS -->

    	<!-- USERS INFORMATION -->

  		<div class="row">
  			<h4> Contributing Authors </h4>
  			<!-- POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  			<div class="col-md-6">
  				<div class="col-md-4">
  					<img alt="" src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" class="fit-all"/>
  				</div>
  				<div class="col-md-8">
  					<p><a>Name of person</a></p>
  					<p>Some info</p>
  				</div>
  			</div>
  			<!-- END POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  		</div>
  		<!-- END OF USERS INFORMATIONS -->

  		<!-- DISCUSSION FIELD -->
  		<div class="row">
  			<h4>Discussions</h4>
  			<textarea class="form-control" rows="3" placeholder="Questions or comments about this method?"></textarea>
  			<button type="submit" class="btn btn-default">Submit</button>
  		</div>
  		<!-- END DISCUSSION FIELD -->

  		<!-- DISCUSSIONS -->
  		<div class="row">
  			<!-- !!! PROBABLY A DO WHILE HERE TO LOAD DISCUSSIONS !!! -->
  			<hr>
  			<div class="col-md-3">
  				<div class="row">
  					<div class="col-md-5 no-padding">
  						<img alt="" src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" class="fit-all"/>
  					</div>
  					<div class="col-md-7">
  						<a href="#">
          					Example of a Name
          				</a>
          				<p>
          					Example of City
          				</p>
  					</div>
  				</div>
  				<a href="#">
          			<span class="glyphicon glyphicon-share"></span>
          				Share
          		</a>
          		<br>
          		<a href="#">
          			<span class="glyphicon glyphicon-comment"></span>
          				Message
          		</a>
          		<br>
          		<a href="#">
          			<span class="glyphicon glyphicon-heart"></span>
          				Follow
          		</a>
          	</div>
  			<div class="col-md-9 no-padding">
  				<p>
  					Date
  				</p>
  				<p>
  					Message
  				</p>
  			</div>
  			<div class="row">
  				<div class="col-md-9 col-md-offset-3">
  					<button type="submit" class="btn btn-default">Useful (#)</button>
  					<button type="submit" class="btn btn-default">Interesting (#)</button>
  					<button type="submit" class="btn btn-default pull-right">Reply</button>
  				</div>
  			</div>
  			<!-- END OF POSSIBLE DO WHILE -->
	
  			<!-- LOAD MORE DISCUSSIONS -->
  			<hr>
  				<div style="text-align: center;">
  				<a href="#">
         	 		See More Discussions <b class="caret"></b>
        	  	</a>
        	  </div>
  			<hr>
  			<!-- END LOAD MORE DISCUSSIONS -->
  		</div>

  		<!-- RELATED METHODS AND CASE STUDIES -->
  		<div class="row">
  			<h4>Related Methods</h4>
  				<!-- START POSSIBLE DO WHILE METHODS -->
  				<div class="row">
  					<div class="col-sm-6 col-md-4 left-top-padding">
   						<div class="thumbnail search-item">
  		   					<div class="caption">
  		     					<h5><a href="/methods/view?n=2">Title</a></h5>
  		     					<p><span class="glyphicon glyphicon-star"></span> 13 Likes</p>
  		     					<p class="truncate-multiline">This format for brainstorming compresses the 	essentials of an ideation session into one short format. The numbers 3-12-3 	refer to the amount of time in minutes given to each of three activities: 3 	minutes for generating a pool of </span>
  		     					<span class="label label-gap label-ideating">Ideating</span>
  		     					<span class="label label-gap label-method">Method</span></p>
  		     				</div>
  	  					</div>
  					</div>
  				</div>
  				<!-- END START POSSIBLE DO WHILE METHODS -->
  			<h4>Related Case Studies</h4>
  				<!-- START POSSIBLE DO WHILE METHODS -->
  				<div class="row">
  					<div class="col-sm-6 col-md-4 left-top-padding">
   						<div class="thumbnail search-item">
  		   					<div class="caption">
  		     					<h5><a href="/methods/view?n=2">Title</a></h5>
  		     					<p><span class="glyphicon glyphicon-star"></span> 13 Likes</p>
  		     					<p class="truncate-multiline">This format for brainstorming compresses the 	essentials of an ideation session into one short format. The numbers 3-12-3 	refer to the amount of time in minutes given to each of three activities: 3 	minutes for generating a pool of </span>
  		     					<span class="label label-gap label-ideating">Ideating</span>
  		     					<span class="label label-gap label-method">Method</span></p>
  		     				</div>
  	  					</div>
  					</div>
  				</div>
  				<!-- END START POSSIBLE DO WHILE METHODS -->
  		</div>
  		<!-- END RELATED METHODS AND CASE STUDIES -->

  		<!-- CITATIONS -->
  		<h4>Citations</h4>
      		<ol> 
        	<% @citations.each do |c| %>
        		<li><%= c.text %></li>
        	<% end %> 
        <!-- END CITATIONS -->

        <!-- END CONTENT -->
  	</div>
  	<!-- END MAIN VIEW -->
</div>








