%h1 Listing companies
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Domain
      %th
      %th
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.email
        %td= company.domain
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Company', new_company_path
