<h1>Listing tags</h1>

<table>
  <thead>
    <tr>
      <th>Design method</th>
      <th>Case study</th>
      <th>Discussion</th>
      <th>User</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.design_method_id %></td>
        <td><%= tag.case_study_id %></td>
        <td><%= tag.discussion_id %></td>
        <td><%= tag.user_id %></td>
        <td><%= tag.content %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
