
<script> 
// find the element $("form input");
// FOR ALL THE INPUTS, GET THE VALUES $(input1).val()
// same format .json { title: b}
// MAIN
$(function(){

  var data = {
          "title": "A Case Study of Non-User-Centered Design for a Police Emergency-Response System Aaron",
          "mainImage":"AMA1.png",
          "developmentCycle":"Product Refinement",
          "designPhase":"Problem Assessment"
      }
  $('#submit').click(function(){

    // TODO
    var allInputs = $('input');

    for(var i = 0; i < allInputs.length; i++) { 
      // console.log($(allInputs[i]).attr('data-name'),$(allInputs[i]).val() ); 

    //  //title
    //  // val
      var el = allInputs[i]
      var name = $(el).attr('data-name'); 
      var val = $(el).val();

      if(typeof name !== undefined)
        data[name] = val;
    }

    ///
    $.ajax({
      type: "POST",
      url: "/collection/send_casestudy",
      data: data,
      success: function(data){
          console.log(data);
      },
      dataType: "json"
    });


  });

})

$('[data-toggle="tooltip"]').tooltip({'placement': 'top'});


</script>



<% @options %>
<% @helper_text %>

<div class='grid_7'>
  <div class="panel panel-primary">
    <div class="panel-heading">Case Study Editing Form</div>
      <div class="panel-body">
        <form role="form">
          <% @attr.each do |name, metadata| %>
            <div class="form-group">
              <label for="<%= name %>"><%= name.underscore.humanize %></label><br>
              <% @options[name.to_sym] %>

             <% if @helper_text.has_key?(name.to_sym) %>
             <ul> 
              <% @helper_text[name.to_sym].each do |help_text_option| %>
                <li class="help-block"><%= help_text_option.html_safe %></li>
              <% end %>
            </ul>
              <% end %>

              <% if @options.has_key?(name.to_sym) %>
              
                <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <%= name.humanize %> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <% @options[name.to_sym].each do |choice| %>
                  <li><a href="#"><%= choice %></a></li> 
                  <% end %>
                </ul>
                </div>

              <% elsif metadata.type == :string %>   
                <input data-name="<%= name %>" class="form-control" id="<%= name %>" value="<%= @cs[name] %>"/> 
              <% elsif metadata.type == :boolean %>   
                <label class="radio-inline">
                  <input data-name= "<%= name %>" value="option1" type="radio"> <%= name.underscore.humanize %>
                </label>
              <% elsif metadata.type == :text %>   
                <textarea data-name="<%= name %>" class="form-control" id="<%= name %>" rows="4" cols="50"">
<%= @cs[name] %>
                </textarea>
              <% end %>
              <!-- <p class="help-block"> <%= metadata.type %></p>  	 -->
              </div>	  
		      <% end %>
        

          <div class="checkbox">
            <label>
              <input data-name= "permission" type="checkbox"> I give permission to the Design Exchange to use the information from this case study for the DesignExchange Database. </input>
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>

<div class='grid_5 omega'>
  <table class="table table-striped"> 
   <tr> 
    <th> Company </th> 
    <td> <%= @company.name %> </td> 
    <td> <%= @company.domain %> </td>
    <td> <%= @company.email %> </td>
    <td> <span class="glyphicon glyphicon-edit"></span> </td>
   </tr>
   <tr>
   <th> Contacts </th> 
   <% @contacts.each do |c| %>
    <td> <%= c.name %> </td>
    <td> <%= c.email %> </td>
  <% end %>
  </tr>
  </table>





</div>








