
<h1>Please let us know what you think!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@feedback) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :feedbacktype, "Feedback Type" %>
      <div>
        <%= f.select(:feedbacktype, options_for_select([["BUG", 1], ["USABILITY ISSUE", 2], ["OTHER", 3]])) %>
      </div>
      
      <%= f.label :body, "Feedback" %>
      <%= f.text_area :body, :size => "30x10", class: 'form-control' %> 

      <%= f.submit "Submit Feedback", class: "btn btn-primary" %>
      
      <%= link_to "Feedback Submissions", feedbacks_path %>
    <% end %>
  </div>
</div>

