<script> 
  $(function(){
    var pH = $('#publish-btn').parent().height()
    var eH = $('#publish-btn').height()
    $('#publish-btn').css('margin-top', (pH - eH)/2)

    eH = $('#save-btn').height()
    $('#save-btn').css('margin-top', (pH - eH)/2)

    pH = $('#auto-saved-text').parent().height()
    eH = $('#auto-saved-text').height()
    $('#auto-saved-text').css('margin-top', (pH - eH)/2)
  });
</script>

<style>
  .fill-width{
    width: 100%;
  }

  .text-align-left{
    text-align: left;
  }
</style>

<%= form_for @case_study, :html => {:multipart => true} do |f| %>
<!-- ERROR MESSAGES -->
<% if @case_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_study.errors.count, "error") %> prohibited this case_study from being saved:</h2>

      <ul>
      <% @case_study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <div class="row">
     <%= f.submit "Publish", :id => "publish-btn", 
                             :class => "btn btn-primary pull-right" %>

    <button type="button" class="btn btn-default pull-right" id="save-btn" name="commit" type="submit">
      <%= glyphyify("floppy-disk") %> Save as Draft
    </button>

    <span id="auto-saved-text" class="pull-right">Auto-saved as draft 2 minutes ago</span>
  </div>

  <!-- BODY -->
  <div class = "row">

     <!-- LEFT CONTENT -->
  <div class="col-md-4">

    <!-- PEOPLE -->
    <div class="row">
       <h4> Create Links </h4>
      Company <%= link_to "Create", new_company_path , :target => "_blank" %> 
      <% if @case_study.company %>
        <%= link_to "Edit", edit_company_path(@case_study.company), :target => "_blank"%> 
        <%= link_to "Show", company_path(@case_study.company), :target => "_blank" %> 
      <% end %>
      <br>
      Design Research Method <%= link_to "Create", new_design_method_path , :target => "_blank" %> 
      <h4> Materials </h4>
      <p>
        <span class="glyphicon glyphicon-list-alt"></span>
        <% if @case_study.resource_url %>
         <%= link_to "Permalink",  @case_study.resource_url, :target => "_blank" %>
        <% else %>
          No resources available
          <br>
        <% end %>
         <%= f.file_field :resource %>
      </p>
      <p>
        <span class="glyphicon glyphicon-list-alt"></span>
        <% if @case_study.url %>
          <%= link_to "Original Website",  @case_study.url, :target => "_blank" %>
        <% else %>
          No url available
          <br/>
        <% end %>
        <%= f.text_field :url, :class => "form-control", :placeholder => "http://" %>
      </p>
      

     
     
    </div>
    <div class="row">
      <h4>Contacts</h4>
        <% @case_study.contacts.each do |c| %>
          <p><%= "#{c.name} (#{c.email})" %></p>
        <% end %>
        <p><%= "No contacts available" unless !@case_study.contacts.empty? %></p>
      
      <h4>People</h4>
      <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user" > collaborators</span>
          </span>
          <%= f.number_field :num_of_designers, :class => "form-control", :placeholder => "# of collaborators", in: 0...1000 %>
      </div>
      <br>
      <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user" > users       </span>
          </span>
          <%= f.number_field :num_of_users, :class => "form-control", :placeholder => "# of users", in: 0...1000 %>
      </div>
    </div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
     <div class="row">
      <h4>Tools</h4>  
      <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="createTag('case_study', <%=params[:id]%>, this, 'tool');">Add Tool</button>
      </span>
    </div>
    <br>
      <p class='tool-list'>
        <% @case_study.tools.each do |t| %>
         <%= tagify(t.id, t.content, {:removable => true}) %>
        <% end %>
      </p>
    </div>
    <!-- END TOOLS -->

    

    <!-- TIME -->
    <div class="row">
      <h4>Time</h4>
      <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time" ></span>
          </span>
           <%= f.number_field :time_period, :class => "form-control", in: 0...1000 %>
          <%= f.select(:time_unit, options_for_select([['years', 'yr'], ['days', 'd'], ['hours', 'hr'], ['minutes', 'min']], @case_study.time_unit), {}, {:class=> "form-control"})%>

      </div>
    </div>
    <!-- END TIME -->

    <!-- TAGS -->
    <div class="row">
      <h4>Tags</h4>  
      <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="createTag('case_study', <%=params[:id]%>, this, 'tag');">Add Tag</button>
      </span>
    </div>
    <br>
      <p class='tag-list'>
        <% @case_study.tags.each do |t| %>
         <%= tagify(t.id, t.content, {:removable => true}) %>
        <% end %>
      </p>
    </div>
  <!-- END OF TAGS -->
 
  <!-- METHODS -->
    <div class="row">
      <h4>Methods Used</h4>
      <div class="input-group">
      <!-- <input type="text" class="form-control"> -->
      <%= select("method_case_study", "design_method_id", DesignMethod.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, {class: "form-control"}) %>
      
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="createMethodLink(<%=params[:id]%>, this);">Add Method</button>
      </span>
    </div>
    <%= link_to "Suggested Methods", related_methods_case_study_path(@case_study), :target => "_blank" %>
      
      <p class="method-list">
        <% @case_study.method_case_studies.each do |t| %>
         <%= tagify(t.id, t.design_method.name, {:removable => true, :method => true}) %>
        <% end %>
        <%= "No methods available" unless not @case_study.method_case_studies.empty? %>
      </p>
      <!-- END TAGS -->
    </div>
    <!-- END OF METHODS -->

  <br>

  <div class = "row">
  <h4> Characteristics </h4>
  <!-- CHECKBOX -->
    <%= f.check_box :customerIsUser %> Customer is User
    <%= f.check_box :remoteProject %> Remote Project
  <!-- END CHECKBOX -->


      <!-- DROPDOWNS -->
     
            <% dropdowns = ["development_cycle", "design_phase", "project_domain", "customer_type", "user_age", "privacy_level", "social_setting"] %>
            <div class="form-group">
              <table class="table">
              <% dropdowns.each do |name| %>
                <tr> 
                  <!-- LABEL -->
                  <td>
                    <label for="<%= name %>">
                      <%= name.underscore.humanize %>
                      <%= glyphyify("question-sign") %>
                    </label>
                  </td>
                  <td>
                  <!-- SELECT -->
                    <%= 
                        select("case_study", name, 
                        @options[name.to_sym], 
                        {include_blank: 'None'}) 
                    %>
                  </td>
                </tr>



                    
            <% end %>
          </table>
        </div>
      </div>
      <!-- END DROPDOWN -->
    </div>
    <!-- END OF TAGS -->
    <!-- END LEFT CONTENT -->

    <!-- RIGHT CONTENT -->
    <div class="col-md-8">
        <!-- INPUT METHOD NAME -->
        <div class="input-group-lg" style="margin-top: 10px;margin-bottom: 10px;">
          <h3> Title </h3>
          <%= f.text_field :title, :class=> "form-control", :placeholder => "Case Study Name" %>
        </div>
        <div class="input-group-lg" style="margin-top: 10px;margin-bottom: 10px;">
          <h3> Company </h3>
              <%= select("case_study", "company_id", Company.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, :class => "form-control") %>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-12">
          <% if @case_study.mainImage.present? %>
            <%= image_tag(@case_study.mainImage)%>
          <% else %>
            <%= image_tag("no-image-available.png", :width => "100%", :height => "385")%>
          <% end %>
          </div>
        </div>
        <br/>
        <%= f.file_field :mainImage %>

        <!-- FORMS -->
        <h3>Problem</h3>
        <%= f.text_area :description, :class => "form-control", :rows => 12 %>
        <h3>Process</h3>
        <%= f.text_area :process, :class => "form-control", :rows => 50 %>
        <h3>Outcome/Benefits</h3>
        <%= f.text_area :outcome, :class => "form-control", :rows => 50 %>
      
      

        <!-- END FORMS -->
       
  </div>

  <!-- END RIGHT CONTENT -->

  </div>
  <!-- END BODY -->
<% end %>