:javascript
  $(function(){
    // // // var pH = $('#publish-btn').parent().height()
    // // // var eH = $('#publish-btn').height()
    // // // $('#publish-btn').css('margin-top', (pH - eH)/2)

    // // eH = $('#save-btn').height()
    // // $('#save-btn').css('margin-top', (pH - eH)/2)

    // pH = $('#auto-saved-text').parent().height()
    // eH = $('#auto-saved-text').height()
    // $('#auto-saved-text').css('margin-top', (pH - eH)/2)
  });
:css
  .fill-width{
    width: 100%;
  }

  .text-align-left{
    text-align: left;
  }
  #user-action-ui{
    padding-top: 8px;
  }
    #user-action-ui > * {
        margin-right: 4px;
    }
= form_for @case_study, :html => { :multipart => true } do |f|
  / ERROR MESSAGES
  - if @case_study.errors.any?
    #error_explanation
      %h2
        = pluralize(@case_study.errors.count, "error")
        prohibited this case_study from being saved:
      %ul
        - @case_study.errors.full_messages.each do |msg|
          %li= msg
  #user-action-ui.row
    = f.submit "Publish", :id => "publish-btn", :class => "btn btn-primary pull-right"
    - unless @case_study.new_record?
      = link_to 'Destroy', case_study_path(@case_study), data: { :confirm => 'Are you sure?' }, :method => :delete, :class => "btn btn-danger pull-right"
    / <span id="auto-saved-text" class="pull-right">Auto-saved as draft 2 minutes ago</span>
  / BODY
  .row
    / LEFT CONTENT
    .col-xs-4
      = render partial: "/application/props/edit",
        locals: { f: f, entity: @case_study, entity_name: 'case_study', options: @options, unit_options: @unit_options }
    / END LEFT CONTENT

    / RIGHT CONTENT
    .col-xs-8
      / INPUT METHOD NAME
      .input-group-lg{:style => "margin-top: 10px;margin-bottom: 10px;"}
        %h3 Title
        = f.text_field :name, :class=> "form-control", :placeholder => "Case Study Name"
      %h3
        .pull-right
          = link_to "Create", new_company_path, :target => "_blank"
          - if @case_study.company
            = link_to "Edit", edit_company_path(@case_study.company), :target => "_blank"
            = link_to "Show", company_path(@case_study.company), :target => "_blank"
        Company
      = select("case_study", "company_id", Company.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, :class => "form-control")
      .row
        .col-xs-6.col-xs-12
          - if @case_study.main_image.present?
            = image_tag(@case_study.main_image)
          - else
            = image_tag("no-image-available.png", :width => "100%", :height => "385")
      %br/
      = f.file_field :main_image
      / FORMS
      %h3 Problem
      = f.text_area :overview, :class => "form-control", :rows => 12
      %h3 Process
      = f.text_area :process, :class => "form-control", :rows => 50
      %h3 Outcome/Benefits
      = f.text_area :outcome, :class => "form-control", :rows => 50
      / END FORMS
    / END RIGHT CONTENT
  / END BODY
