<script> 
  $(function(){
    var pH = $('#publish-btn').parent().height()
    var eH = $('#publish-btn').height()
    $('#publish-btn').css('margin-top', (pH - eH)/2)

    eH = $('#save-btn').height()
    $('#save-btn').css('margin-top', (pH - eH)/2)

    pH = $('#auto-saved-text').parent().height()
    eH = $('#auto-saved-text').height()
    $('#auto-saved-text').css('margin-top', (pH - eH)/2)
  });
</script>

<style>
  .fill-width{
    width: 100%;
  }

  .text-align-left{
    text-align: left;
  }
</style>


<div class="row">
  <button id="publish-btn" type="submit" class="btn btn-default publish-background-color pull-right">Publish</button>
  <button id="save-btn" type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Save as Draft</button>
  <span id="auto-saved-text" class="pull-right">Auto-saved as draft 2 minutes ago</span>
</div>

<!-- BODY -->
<div class = "row">

  <!-- LEFT CONTENT -->
	<div class="col-md-4">

    <!-- PEOPLE -->
		<div class="row">
			<h4>People</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-user" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="# of collaborators">
			</div>

			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-user" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="# of users">
			</div>
		</div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
  	<div class="row">
			<h4>Tools</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-pencil" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="Ex. paper, pen">
			</div>
		</div>
    <!-- END TOOLS -->

    <!-- TIME -->
  	<div class="row">
			<h4>Time</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-time" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="Ex. 1 hr">
			</div>
  	</div>
    <!-- END TIME -->

    <!-- CHECKBOX -->
    <div class="row">
    	<input value="option1" type="checkbox"> Customer is User
    </div>
    <div class="row">
    	<input value="option1" type="checkbox"> Remote Project
    </div>
    <!-- END CHECKBOX -->


    <!-- DROPDOWNS -->
    <div class="row">
          <% dropdowns = ["development_cycle", "design_phase", "project_domain", "customer_type", "user_age", "privacy_level", "social_setting"] %>
          <div class="form-group">
            <table class="table">
            <% dropdowns.each do |name| %>
                  <tr>
                   <td><label for="<%= name %>"><%= name.underscore.humanize %>
                    <span class='glyphicon glyphicon-question-sign'></span>
                    </label></td>
        
                  <td >
                        <div class="btn-group fill-width">
                        <button type="button" class="btn-fixed btn btn-default dropdown-toggle fill-width text-align-left" data-toggle="dropdown">
                        <%= @options[name.to_sym][0] %>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <% @options[name.to_sym].each_with_index do |choice, i| %>
                          <li data-index="<%=i%>" data-name="<%= choice %>"><a><%= choice %></a></li> 
                          <% end %>
                        </ul>
                        </div>
                  </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
    <!-- END DROPDOWN -->

    <!-- TAGS -->
  	<div class="row">
			<h4>Tags</h4>
      <input type="text" class="form-control" placeholder="Tag">
      <p>
        <span class="tag-label label-gap">brainstorming 
                <span class="glyphicon glyphicon-remove-circle"></span>
        </span>
      </p>
  	</div>
	</div>
  <!-- END OF TAGS -->
  <!-- END LEFT CONTENT -->

  <!-- RIGHT CONTENT -->
  <div class="col-md-8">
      <!-- INPUT METHOD NAME -->
  		<div class="input-group-lg" style="margin-top: 10px;margin-bottom: 10px;">
  			<input type="text" class="form-control" placeholder="Case Studie Name">
		  </div>
      <!-- END INPUT METHOD NAME -->

      <!-- IMAGES -->
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>

        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail" style="height: 145px;">
            <img src="http://www.dreamslider.com/portals/0/images/Templates/no-image-available.png" alt="...">
          </a>
        </div>
      </div>
      <!-- END IMAGES -->

      <!-- FORMS -->
      <h3>Summary</h3>
        <textarea class="form-control" rows="3"></textarea>
      <h3>Benefits</h3>
        <textarea class="form-control" rows="3"></textarea>
      <h3>Process</h3>
        <textarea class="form-control" rows="3"></textarea>
      <!-- END FORMS -->
</div>
<!-- END RIGHT CONTENT -->

</div>
<!-- END BODY -->