<!-- CASE STUDY TITLE -->
<div class = "row">
	<div class="col-md-9 col-md-offset-3 left-pad">
    <h3><b><%= @casestudy.title != nil ? @casestudy.title : "-" %></b></h3>
    <p>By <a><%= @author != nil ? @author : "-" %></a></p>
	</div>
</div>
<!-- END CASE STUDY TITLE -->

<div class = "row no-margin-left no-margin-right">
  <!-- SIDEBAR -->
  <div id="sidebar" class="col-md-3">
		<div class="row no-margin-left no-margin-right">
      <!-- ORIGINAL CASE STUDY -->
			<h4>Case Study</h4>
			<p>
				<span class="glyphicon glyphicon-list-alt"></span>
				<a href= "<%= @casestudy.url != nil ? @casestudy.url : "#" %>" >Original Case Study</a>
			</p>
		</div>
    <!-- END ORIGINAL CASE STUDY -->

    <!-- PROJECT CHARACTERISTICS -->
  	<div class="row no-margin-left no-margin-right">
			<h4>Project Characteristics</h4>
			<p>
			 	<span class="glyphicon glyphicon-pencil"></span>
			 	Development Cycle: 
        <%= @casestudy.development_cycle != nil ? @casestudy.development_cycle : "-" %>
			</p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Design Phase: 
        <%= @casestudy.design_phase != nil ? @casestudy.design_phase : "-" %>
      </p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Privacy Level: 
        <%= @casestudy.privacy_level != nil ? @casestudy.privacy_level : "-" %>
      </p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Social Setting: 
        <%= @casestudy.social_setting != nil ? @casestudy.social_setting : "-" %>
      </p>
      <p>
        <% if @casestudy.customerIsUser %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        Customer Is User
      </p>
      <p>
        <% if @casestudy.remoteProject %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        Remote Project
      </p>
		</div>
    <!-- END PROJECT CHARACTERISTICS -->

    <!-- PROJECT DETAILS -->
    <div class="row no-margin-left no-margin-right">
      <h4>Project Details</h4>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Project Domain: 
        <%= @casestudy.project_domain != nil ? @casestudy.project_domain : "-" %>
      </p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Customer Type: 
        <%= @casestudy.customer_type != nil ? @casestudy.customer_type : "-" %>
      </p>
    </div>
    <!-- END PROJECT CHARACTERISTICS -->

    <!-- TIME -->
  	<div class="row no-margin-left no-margin-right">
			<h4>Time</h4>
			<p>
				<span class="glyphicon glyphicon-time"></span>
				~ <%= @casestudy.timePeriod != nil ? @casestudy.timePeriod : "-" %>
			</p>
  	</div>
    <!-- END TIME -->

    <!-- METHODS TAGS -->
    <h4>Tags</h4>
    <p>
      <!-- DO WHILE FOR TAGS -->
      No tags available
    </p>
      <!-- END METHODS TAGS -->
	</div>
  <!-- END SIDBAR -->


  <!-- MAIN VIEW  -->
  	<div class="col-md-9 add-padding">
      
      <!-- MENU BAR -->
  		<div class="row">
  			<div class="col-md-3">
  				<span class="glyphicon glyphicon-star"></span>
  				- likes
  			</div>
  			<div class="col-md-3">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<span class="glyphicon glyphicon-folder-open"></span>
          				Add to Set
          			<b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
            		<li><a href="">Add To Set</a></li>
            		<li class="divider"></li>
            		<li><a href="#">My Favorites </a></li>
          		</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          				<span class="glyphicon glyphicon-share"></span>
          					Share
          				<b class="caret"></b>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Email</a></li>
          			</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="pull-right">
          				<span class="glyphicon glyphicon-pencil"></span>
          					Edit
          		</a>
  			</div>
  		</div>
      <!-- END MENU BAR -->

      <!-- CONTENT -->

      <!-- DESCRIPTION -->
  		<div class="row">
        <h2> Description </h2>
		    <p><%= @casestudy.description != nil ? @casestudy.description : "-" %></p>
      </div>
      <!-- END DESCRIPTION -->

      <!-- RELATED METHODS AND CASE STUDIES -->
      <div class="row">
        <!-- RELATED METHODS -->
        <h4>Related Methods</h4>
          <% @similar_methods.each do |method| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"4") %>
          <% end %>
        <!-- END RELATED METHODS -->
        
        <!-- RELATED CASE STUDIES -->
        <h4>Related Case Studies</h4>
          <% @similar_case_studies.each do |cs| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"4") %>
          <% end %>
        <!-- ENF RELATED CASE STUDIES -->
      </div>
      <!-- END RELATED METHODS AND CASE STUDIES -->


      <!-- END CONTENT -->
  	</div>

    <!-- END MAIN VIEW -->
</div>









