<!-- CASE STUDY TITLE -->
<div class = "row">
	<div class="col-md-9 col-md-offset-3 left-pad">
    <h3><b><%= @case_study.title != nil ? @case_study.title : "-" %></b></h3>
    <p> by <%= link_to @case_study.company.name, company_path(@case_study.company) unless !@case_study.company %>
	</div>
</div>
<!-- END CASE STUDY TITLE -->

<div class = "row">
  <!-- SIDEBAR -->
  <div id="sidebar" class="col-md-3">
		<div class="row">
      <!-- ORIGINAL CASE STUDY -->
	   <h4> Materials </h4>
      <p>
        <span class="glyphicon glyphicon-list-alt"></span>
        <% if @case_study.resource_url %>
          <%= link_to "Permalink",  @case_study.resource_url, :target => "_blank"%>
        <% else %>
          No resources available.
        <% end %>
      </p>
      <p>
        <span class="glyphicon glyphicon-list-alt"></span>
        <% if @case_study.url %>
         <%= link_to "Original Website",  @case_study.url, :target => "_blank" %>
        <% else %>
          No website available.
        <% end %>
      </p>
		</div>

    <div class = "row">
      <h3>What You'll Need</h3>
    </div>

    <!-- PEOPLE -->
    <div class="row">
      <h4>People</h4>
      <p>
        <span class="glyphicon glyphicon-user"></span>
        ~<%= pluralize(@case_study.num_of_designers, "designer") %> 
      </p>
      <p>
        <span class="glyphicon glyphicon-user"></span>
        ~<%= pluralize(@case_study.num_of_users, "user") %> 
      </p>
    </div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
    <div class="row">
      <h4>Tools</h4>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <% @case_study.tools.each do |t| %>
         <%= tagify(t.id, t.content, {:removable => false}) %>
        <% end %>
        <%= "No tools available" unless not @case_study.tools.empty? %>
      </p>
    </div>
    <!-- END TOOLS -->

   

    <!-- TAGS -->
    <div class="row">
      <h4>Tags</h4>
      <p>
        <% @case_study.tags.each do |t| %>
         <%= tagify(t.id, t.content, {:removable => false}) %>
        <% end %>
        <%= "No tags available" unless not @case_study.tags.empty? %>
      </p>
      <!-- END TAGS -->
    </div>

    <div class="row">
      <h4>Methods Used</h4>
      <p>

        <% @case_study.method_case_studies.each do |t| %>
         <%= tagify(t.id, t.design_method.name, {:removable => false}) %>

        <% end %>
        <%= "No methods available" unless not @case_study.method_case_studies.empty? %>
      </p>
      <!-- END METHODS -->
    </div>
       
    <!-- END ORIGINAL CASE STUDY -->

    <!-- PROJECT CHARACTERISTICS -->
  	<div class="row">
			<h4>Project Characteristics</h4>
			<p>
			 	<span class="glyphicon glyphicon-pencil"></span>
			 	Development Cycle: 
        <%= @case_study.development_cycle != nil ? @lookup[:development_cycle][@case_study.development_cycle] : "-" %>
			</p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Design Phase: 
        <%= @case_study.design_phase != nil ? @lookup[:design_phase][@case_study.design_phase] : "-" %>
      </p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Privacy Level: 
        <%= @case_study.privacy_level != nil ? @lookup[:privacy_level][@case_study.privacy_level] : "-" %>
      </p>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        Social Setting: 
        <%= @case_study.social_setting != nil ? @lookup[:social_setting][@case_study.social_setting] : "-" %>
      </p>
      <p>
        <% if @case_study.customerIsUser %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        Customer Is User
      </p>
      <p>
        <% if @case_study.remoteProject %>
          <span class="glyphicon glyphicon-ok"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        Remote Project
      </p>
		</div>
    <!-- END PROJECT CHARACTERISTICS -->

    <!-- PROJECT DETAILS -->
    <div class="row">
    <h4>Project Details</h4>
    <p>
      <span class="glyphicon glyphicon-pencil"></span>
      Project Domain: 
      <%= @case_study.project_domain != nil ? @lookup[:project_domain][@case_study.project_domain] : "-" %>
    </p>
    <p>
    <span class="glyphicon glyphicon-pencil"></span>
    Customer Type: 
    <%= @case_study.customer_type != nil ? @lookup[:customer_type][@case_study.customer_type] : "-" %>
    </p>
    </div>
    <!-- END PROJECT CHARACTERISTICS -->

     <!-- TIME -->
    <div class="row">
      <h4>Time</h4>
      <p>
        <span class="glyphicon glyphicon-time"></span>
        <%= pluralize(@case_study.time_period, @case_study.time_unit) %> 
      </p>
    </div>
    <!-- END TIME -->

	</div>
  <!-- END SIDBAR -->


  <!-- MAIN VIEW  -->
  	<div class="col-md-9 add-padding">
      
      <!-- MENU BAR -->
  		<div class="row">
  			<div class="col-md-3">
  				<span class="glyphicon glyphicon-star"></span>
  				- likes
  			</div>
  			<div class="col-md-3">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<span class="glyphicon glyphicon-folder-open"></span>
          				Add to Set
          			<b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
            		<li><a href="">Add To Set</a></li>
            		<li class="divider"></li>
            		<li><a href="#">My Favorites </a></li>
          		</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          				<span class="glyphicon glyphicon-share"></span>
          					Share
          				<b class="caret"></b>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Email</a></li>
          			</ul>
  			</div>
  			<div class="col-md-3">
  					<%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_case_study_path, :class => "pull right"%>
          
  			</div>
  		</div>
      <!-- END MENU BAR -->

      <!-- CONTENT -->
      <div class="row">
        <% if @case_study.mainImage.present? %>
          <%= image_tag(@case_study.mainImage, :width => "100%")%>
        <% else %>
          <%= image_tag("no-image-available.png", :width => "100%", :height => "385")%>
        <% end %>
      </div>
      <br>
      <!-- DESCRIPTION -->
  		<div class="row">
        <h3> Problem </h3>
		    <p><%= @case_study.description.blank? ? "-" : simple_format(@case_study.description) %></p>

          <!-- FORMS -->
        <h3>Process</h3>
        <p><%= @case_study.process.blank? ? "-" : simple_format(@case_study.process) %></p>
      
        <h3>Outcome/Benefits</h3>
        <p><%= @case_study.outcome.blank? ? "-" : simple_format(@case_study.outcome) %></p>
      
      </div>
      <!-- END DESCRIPTION -->

      <!-- RELATED METHODS AND CASE STUDIES -->
      <div class="row">
        <!-- RELATED METHODS -->
        <h4>Related Methods</h4>
          <% @similar_methods.each do |method| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"4") %>
          <% end %>
        <!-- END RELATED METHODS -->
        
        <!-- RELATED CASE STUDIES -->
        <h4>Related Case Studies</h4>
          <% @similar_case_studies.each do |cs| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"4") %>
          <% end %>
        <!-- ENF RELATED CASE STUDIES -->
      </div>
      <!-- END RELATED METHODS AND CASE STUDIES -->


      <!-- END CONTENT -->
  	</div>

    <!-- END MAIN VIEW -->
</div>









