:css
  #collection_name {
    float: left;
    width: 75%;
    height: 30px;
  }
  #new_collection {
    padding: 0px 20px 40px 20px;
  }
  #new-col-show {
    margin: 10px 20px;
  }
  .existing-study {
    padding: 3px 20px;
    white-space: nowrap;
    background: whitesmoke;
  }
:javascript
  $(document).ready(function() {
    $('.dropdown-menu input').click(function(e) {
      e.stopPropagation(); //This will prevent the event from bubbling up and close the dropdown when you type/click on text boxes.
    });
    $('#new-col-show').click(function(e) {
      $('#new-col-show').css("display", "none");
      $('#new_collection').css("display", "block");
      e.stopPropagation();
    });
    $('.dropdown-toggle').click(function(e) {
      $('#new-col-show').css("display", "block");
      $('#new_collection').css("display", "none");
    });
  });

/ CASE STUDY TITLE
.row
  .col-xs-9.col-xs-offset-3.left-pad
    %h3
      - if @case_study.draft == true
        %b{:style=>"color:blue"}= @case_study.name != nil ? @case_study.name : "-"
      - else
        %b= @case_study.name != nil ? @case_study.name : "-"
    %p
      by #{link_to @case_study.company.name, company_path(@case_study.company) unless !@case_study.company}
/ END CASE STUDY TITLE
.row
  / SIDEBAR


  .col-xs-3#sidebar

    = render partial: "/application/props/props", locals: { entity: @case_study }

  / MAIN VIEW
  .col-xs-9.add-padding
    / MENU BAR

    .row

      .col-xs-3
        %span.glyphicon.glyphicon-star
        \- likes
      - if !current_user.nil?
        .col-xs-3
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.glyphicon.glyphicon-folder-open
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Add to Collection
              %b.caret
            %ul.dropdown-menu
              -@collections.each do |collection|
                - if collection.case_studies.include? @case_study
                  %li.existing-study
                    = collection.name + " (added)"
                - else
                  %li=link_to collection.name, add_to_collection_path(:col_id => collection.id, :cs_id => @case_study.id)

              %a.btn.btn-default.pull-right.btn-index-create#new-col-show
                %span.glyphicon.glyphicon-plus
                Add to New Collection
              = form_for @collection do |f|
                .input-group-lg{:style => "margin-top: 10px;margin-bottom: 10px;"}
                = f.hidden_field :cs_id, :value => @case_study.id
                = f.text_field :name, :class=> "form-control", :placeholder => ""
                = f.submit "Add", :id => "add-set-btn", :class => "btn btn-primary pull-right"
      .col-xs-3
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.glyphicon.glyphicon-share
          Share
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Email
      .col-xs-3
        / = link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_case_study_path, :class => "pull right"
        %a.pull-right{:href => edit_case_study_path(params[:id])}
          %span.glyphicon.glyphicon-pencil
          Edit

      %p{:style=>"text-align: right; font-size: 11px;"}
        Last Updated: 
        #{@case_study.updated_at.strftime('%x') } by
        #{@case_study.last_editor}

     
    / END MENU BAR
    / CONTENT
    - if @case_study.has_image?
      .row
      = image_tag(@case_study.image_url, :width => "100%")
    %br/
    / DESCRIPTION
    .row
      %h3 Problem
      - if @case_study.draft?
        %h3{:style=>"color:red;"} Suggestions
        %p= @case_study.suggestions.blank? ? "-" : md_format(@case_study.suggestions)
        %h5{:style=>"color:red"} End of Suggestions
      %p= @case_study.overview.blank? ? "-" : md_format(@case_study.overview)
      / FORMS
      %h3 Process
      %p= @case_study.process.blank? ? "-" : md_format(@case_study.process)
      %h3 Outcome/Benefits
      %p= @case_study.outcome.blank? ? "-" : md_format(@case_study.outcome)
      
      - if !@case_study.design_methods.blank?
        %h3 Related Design Methods
        - @case_study.design_methods.each do |dm|
          = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"4")

    - if (current_user != nil) && (current_user.admin? || current_user.editor? || current_user.author?)
      .row 
        %h4 Completion Score
        %p 
          /calculate the completion score if it has not been done already
          - score = 0
          - for attribute in @case_study.attributes.keys
            - if @case_study[attribute] != nil && @case_study[attribute] != ""
              - score += 1
          - @case_study.completion_score = score
          - @case_study.save
          = score
    / END DESCRIPTION
    - render "related_content"
    / END CONTENT
  / END MAIN VIEW
