<a class="card" href="<%= eval("#{@thumb_obj[:link]}_path(#{@thumb_obj[:id]})") %>">
  <div class="caption">
    <h5><%= @thumb_obj[:name] %></h5>
    </h5>
    <p>
      <%= "#{@thumb_obj[:description]}" %>
      <%#= link_to "[...]", eval("#{@thumb_obj[:link]}_path(#{@thumb_obj[:id]})") %>
    </p>
  </div>
  <div class="meta">
    <% if @thumb_obj[:tags].length > 0 %>
    <p class="tags"><% tagifier(@thumb_obj[:tags]).each do |category| %>
      <span class="tag-label label-gap"> <%= "#{category}" %> </span>
    <% end %></p>
    <% end %>
    <p class="views"><i class="glyphicon glyphicon-eye-open"></i> <%= "#{@thumb_obj[:likes]}" %></p>
  </div>
</a>
