%a.card{:href => "#{eval("#{@thumb_obj[:link]}_path(#{@thumb_obj[:id]})")}"}
  .caption
    - if @thumb_obj[:draft] == true
      - if @thumb_obj[:ready] == true
        %h5{:style=>"color:green"}= @thumb_obj[:name]
      - elsif @thumb_obj[:link] == "design_method"
        %h5{:style=>"color:orange"}= @thumb_obj[:name]
      - elsif @thumb_obj[:link] == "case_study"
        %h5{:style=>"color:purple"}= @thumb_obj[:name]
    - else
      %h5= @thumb_obj[:name]

    - if Rails.env.production?
      - if @thumb_obj[:picture_url].present?
        .image-wrapper
          = image_tag @thumb_obj[:picture_url]
    - else
      - if @thumb_obj[:image].url.present?
        .image-wrapper
          = image_tag @thumb_obj[:image]
    %p
      = "#{@thumb_obj[:overview]}"
  .meta
    - if @thumb_obj[:tags].length > 0
      %p.tags
        - counter = 0
        - tagifier(@thumb_obj[:tags]).each do |category|
          - if counter == 2
            - break
          - case category
          - when 1
            %span.tag-label.label-gap{:style=>"color:beige"}
              = MethodCategory.find_by(id:category).name
          - when 2
            %span.tag-label.label-gap{:style=>"color:lightpink"}
              = MethodCategory.find_by(id:category).name      
          - when 3
            %span.tag-label.label-gap{:style=>"color:cyan"}
              = MethodCategory.find_by(id:category).name 
          - when 4
            %span.tag-label.label-gap{:style=>"color:yellow"}
              = MethodCategory.find_by(id:category).name 
          - when 5
            %span.tag-label.label-gap{:style=>"color:coral"}
              = MethodCategory.find_by(id:category).name     
          - counter += 1
    %br

    - if current_user != nil && (current_user.admin? || current_user.editor? || current_user.author?)
      %i.glyphicon.glyphicon-pencil
        %b= "#{@thumb_obj[:completion_score]}"
    %p.views
      %i.glyphicon.glyphicon-eye-open
      = "#{@thumb_obj[:likes]}"
