%a.card{:href => "#{eval("#{@thumb_obj[:link]}_path(#{@thumb_obj[:id]})")}"}
  .caption
    /%h5= @thumb_obj[:name]
    %h5= @thumb_obj[:name]
    - if Rails.env.production?
      - if @thumb_obj[:picture_url].present?
        .image-wrapper
          = image_tag @thumb_obj[:picture_url]
    - else
      - if @thumb_obj[:image].url.present?
        .image-wrapper
          = image_tag @thumb_obj[:image]
    %p
      = "#{@thumb_obj[:overview]}"
  .meta
    - if @thumb_obj[:tags].length > 0
      %p.tags
        - tagifier(@thumb_obj[:tags]).each do |category|
          %span.tag-label.label-gap
            = "#{category}"
    - if current_user != nil && (current_user.admin? || current_user.editor?)
      %i.glyphicon.glyphicon-pencil
        %b= "#{@thumb_obj[:completion_score]}"

    %p.views
      %i.glyphicon.glyphicon-eye-open
      = "#{@thumb_obj[:likes]}"
