
<!-- Methods -->
<div class="row">
  <div class="col-md-4">
  	<h3><%= link_to "Methods", design_methods_path %></h3>
  	<p>Discover new ways to approach design problems.</p>
  </div>
  <div class="col-md-8">
  	<div class="row">

    <% @design_methods.each do |method| %>
      <%= render "/application/thumbnail_compact", locals: @thumb_obj = thumbnail(method, "3") %>
    <% end %>
  	
  </div>
</div>
</div>


<!-- Case Studies -->
<div class="row">
  <div class="col-md-4">
  	<h3><%= link_to "Case Studies", case_studies_path %></h3>
  	<p>Find examples of real world design problems.</p>
  </div>
  <div class="col-md-8">
  	<div class="row">
      <% @case_studies.each do |cs| %>
  	   <%= render "/application/thumbnail_compact", locals: @thumb_obj = thumbnail(cs, "3") %>
      <% end %>
  </div>

  </div>
</div>

<!-- Discussions -->
<div class="row">

  <div class="col-md-4">
  	<h3><%= link_to "Discussions", discussions_path %></h3>
  	<p>Interact with other users in a Q&amp;A forum.</p>
  </div>

  <div class="col-md-8">

    <% @discussions.each do |disc| %>
    	<div class="row profile">
    	 <div class="col-md-1">
    		<img src="http://www.sv-hirrlingen.de/bilder/dummy_face.jpg">
    	 </div>
    	 <div class="col-md-11">
    		<h5><%= link_to disc.title, discussion_path(disc.id)  %></h5>
    		<p> <%= link_to disc.user.email, user_path(disc.user_id) %> <%= disc.created_at.to_s %>  ago </p>
    		<p> <%= disc.description %> </p>
    	 </div>
      </div>
    <% end %>

  </div>
</div>