
<!-- Methods -->
<div class="row">
  <div class="col-md-4">
  	<h3><%= link_to "Methods", design_methods_path %></h3>
  	<p>Discover new ways to approach design problems.</p>
  </div>
  <div class="col-md-8">
  	<div class="row">

    <% @design_methods.each do |method| %>
  		<div class="col-sm-6 col-md-4 no-gap">
   		 <div class="thumbnail">
   		 	  <!-- <div class="image-wrapper">
	  		    <img src="http://www.digitaltrends.com/wp-content/uploads/2013/02/eye-tracking.jpg">
  		    </div> -->
  		    <div class="caption">
  		      <h5 class='truncate'><%= link_to method.name.humanize, design_method_path(method.id)  %></h5>
  		      <p><span class="glyphicon glyphicon-star"></span> 392 Likes</p>
  		      <p class='truncate-multiline'><%= method.overview %></p>
  		      <p><span class="tag-label">user testing</span></p>
  		    </div>
  		  </div>
  		</div>
    <% end %>
  	
  </div>
</div>
</div>


<!-- Case Studies -->
<div class="row">
  <div class="col-md-4">
  	<h3><%= link_to "Case Studies", case_studies_path %></h3>
  	<p>Find examples of real world design problems.</p>
  </div>
  <div class="col-md-8">
  	<div class="row">
      <% @case_studies.each do |cs| %>
  		<div class="col-sm-6 col-md-4 no-gap">
   		 <div class="thumbnail">
  		    <!-- <div class="image-wrapper">	
  		    	<img src="http://www.maxymiser.com/uploads/AB-Testing.jpg">
  		    </div> -->
  		    <div class="caption">
  		       <h5 class='truncate'><%= link_to cs.title, case_study_path(cs.id) %></h5>
  		      <p><span class="glyphicon glyphicon-star"></span> <%= (rand * 100).to_i%> Likes</p>
  		      <p class='truncate-multiline'><%= cs.description %></p>
  		      <p><span class="tag-label">user testing</span></p>
  		    </div>
  		  </div>
  		</div>
    <% end %>
  </div>

  </div>
</div>

<!-- Discussions -->
<div class="row">

  <div class="col-md-4">
  	<h3><%= link_to "Discussions", discussions_path %></h3>
  	<p>Interact with other users in a Q&amp;A forum.</p>
  </div>

  <div class="col-md-8">

    <% @discussions.each do |disc| %>
    	<div class="row profile">
    	 <div class="col-md-1">
    		<img src="http://www.sv-hirrlingen.de/bilder/dummy_face.jpg">
    	 </div>
    	 <div class="col-md-11">
    		<h5><%= link_to disc.title, discussion_path(disc.id)  %></h5>
    		<p> <a><%= disc.user.email %></a> <%= disc.created_at.to_s %>  ago </p>
    		<p> <%= disc.description %> </p>
    	 </div>
      </div>
    <% end %>

  </div>
</div>