/ :javascript
/   $(function(){
/     // $('.tab-pane[data-link ="'+ "all" +'"]').show().siblings(".tab-pane").hide();
/     $('.sidebar[data-link ="'+ "all" +'"]').show().siblings(".sidebar").hide();
/     $('#tabs li a').click(function(e){
/       e.preventDefault();
/       // Alternate tabs
/       $(this).parent()
/              .addClass('active')
/              .siblings()
/              .removeClass('active');
/       var link = $(this).data('link');

/       // $('.tab-pane[data-link ~="'+ link +'"]').hide();
/       $('.tab-pane[data-link ="'+ link +'"]').show().siblings(".tab-pane").hide();
/       $('.sidebar[data-link ="'+ link +'"]').show().siblings(".sidebar").hide();
/     })
/   });
:css
  .padding{
    padding-top: 15px;
  }
  .nav-tabs{
    cursor: pointer;
  }
  #create-btn{
    margin-right: 10px;
  }
/ TOP BAR
.row
  .col-md-2
  .col-md-6.left-pad
    %h3= params[:query] ? "Results for '#{params[:query]}'": ""
    #tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-link" => "all"} All
        %li
          %a{"data-link" => "dm"} Methods
        %li
          %a{"data-link" => "cs"} Case Studies
  .col-md-4
    = link_to new_case_study_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
      %span.glyphicon.glyphicon-plus
      Add Case Study
    = link_to new_design_method_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
      %span.glyphicon.glyphicon-plus
      Add Method
/ CONTENT
.row
  .col-sm-2
    / SIDEBAR
    .sidebar{"data-link" => "all"}
      = render "/layouts/new_search_sidebar", locals: @category_hash = sidebar_hash(:methods)
    .sidebar{"data-link" => "dm"}
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
    .sidebar{"data-link" => "cs"}
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
  / All Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "all"}
    - @results[:all].each do |method|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
  / Method Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "dm"}
    - @results[:dm].each do |method|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
  / Case Study Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "cs"}
    - @results[:cs].each do |cs|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")
