:javascript
  $(function(){
  });

:css
  .padding {
    padding-top: 15px;
  }
  .nav-tabs {
    cursor: pointer;
  }
  #create-btn {
    margin-right: 10px;
  }

#sidebar.col-md-2
  / SIDEBAR
  .sidebar{"data-link" => "dm"}
    = render "/layouts/new_search_sidebar", locals: @category_hashes
  .sidebar{"data-link" => "cs"}
    = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
#content-column.col-md-10
  / TOP BAR
  .row
    .col-md-8
      %h3= @query
    .col-md-4
      = link_to new_case_study_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
        %span.glyphicon.glyphicon-plus
        Add Case Study
      = link_to new_design_method_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
        %span.glyphicon.glyphicon-plus
        Add Method
  .row
    .col-md-12
      #tabs
        %ul.nav.nav-tabs
          - if @cs_tab_visible
            %li
              %a{"data-link" => "dm"} Methods (#{@dm_search.total})
            %li.active
              %a{"data-link" => "cs"} Case Studies (#{@cs_search.total})
          - else
            %li.active
              %a{"data-link" => "dm"} Methods (#{@dm_search.total})
            %li
              %a{"data-link" => "cs"} Case Studies (#{@cs_search.total})
  / CONTENT
  .row
    / Method Search Tab
    .tab-pane.col-sm-12.padding#dm{"data-link" => "dm"}
      .row
        - @dm_search.results.each do |method|
          = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
      .row
        = will_paginate @dm_search.hits
    / Case Study Search Tab
    .tab-pane.col-sm-12.padding#cs{"data-link" => "cs"}
      .row
        - @cs_search.results.each do |cs|
          = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")
      .row
        = will_paginate @cs_search.hits
