// tab functionality found in application.js.coffee
:css
  .padding{
    padding-top: 15px;
  }
  .nav-tabs{
    cursor: pointer;
  }
  .pagination {
  width: 100%;
  margin-top: 35px;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #6CC06D; }
  .pagination a {
    / border: 1px solid #dddddd;
    color: #333333;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      / border-color: #003366;
      background: #6CC06D;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }
/ TOP BAR
.row
  .col-md-2
  .col-md-10.left-pad
    %h3= params[:query] ? "Results for '#{params[:query]}'": ""
    #tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-link" => "all"} All
        %li
          %a{"data-link" => "dm"} Methods
        %li
          %a{"data-link" => "cs"} Case Studies
/ #sidebar > div{ aoihdlkhasklfhjklh}
/ CONTENT
.row
  .col-sm-2
    / WARNING SIDEBAR UNDERCONSTRUCTION
    .sidebar{"data-link" => "all"}
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
      / SIDEBAR FOR ALL
    .sidebar{"data-link" => "dm"}
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
    .sidebar{"data-link" => "cs"}
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
      / SIDEBAR FOR CASE STUDY
    .sidebar{"data-link" => "disc"}
      / SIDEBAR FOR DISCUSSION


  / All Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "all"}
    - @results[:all].each do |method|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
    .row
    = will_paginate @results[:all], :param_name => "all", :params => { :anchor => 'all' }
  / Method Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "dm"}
    - @results[:dm].each do |method|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
    .row
    = will_paginate @results[:dm], :param_name => "dm", :params => { :anchor => 'dm' }
  / Case Study Search Tab
  .tab-pane.col-sm-10.padding{"data-link" => "cs"}
    - @results[:cs].each do |cs|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"3")
    .row
    = will_paginate @results[:cs], :param_name => "cs", :params => { :anchor => 'cs' }
  / Discussion Search Tap
  .tab-pane.col-sm-10.padding{"data-link" => "disc"}
    - @results[:disc].each do |disc|
      = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(disc,"3")
    .row
    = will_paginate @results[:disc], :param_name => "disc", :params => { :anchor => 'disc' }