:javascript
  $(function(){
  	var pH = $('#create-btn').parent().parent().height()
  	var eH = $('#create-btn').height()
  	$('#create-btn').css('margin-top', (pH - eH)/2)
  });
:css
  html, body{
  	height: 100%;
  	width: 100%;
  }
  #search-and-filter{
  	height: 100%;
  }
  
  #results-container{
  	margin-left: 0;
  	padding-left: 0;
  }
/ TOP ROW
.container-fluid
  .row    
    // display flash errors if any  
    - flash.each do |name, msg|
      = content_tag(:div, msg, class: "alert alert-#{name}")
    .col-xs-8.col-xs-offset-4.col-sm-10.col-sm-offset-2.left-pad
      .col-xs-6
        %h3 Popular Methods
      .col-xs-6
        = link_to new_design_method_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
          %span.glyphicon.glyphicon-plus
          Create Method
  / END TOP ROW
  #search-and-filter.row
    #sidebar.col-xs-4.col-sm-2
      = render "/layouts/sidebar", locals: @category_hash = sidebar_hash(:methods)
    #results-container.col-xs-8.col-sm-10
      - @design_methods.each do |method|
        = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"3")
