:javascript
  $(function(){
    // Archaeologist's note: this seems like a spectacularly bad idea, not spending the time to figure it out right now
  	var pH = $('#create-btn').parent().parent().height()
  	var eH = $('#create-btn').height()
  	$('#create-btn').css('margin-top', (pH - eH)/2)
    $('#hidden').click(function() {
      $("#hiddenMethods").toggle(this.checked);
    });

  });
:css
  html, body{
  	height: 100%;
  	width: 100%;
  }
  #search-and-filter{
  	height: 100%;
  }

  #results-container{
  	margin-left: 0;
  	padding-left: 0;
  }
/ TOP ROW
.container-fluid
  .row
    .col-xs-8.col-xs-offset-4.col-sm-10.col-sm-offset-2.left-pad
      .col-xs-6
        %h3 Popular Methods
        - if (current_user != nil) && (current_user.admin? || current_user.editor?)
          %input{:name => "hidden", :type => "checkbox", :id => "hidden", :style => "margin: 0px 5px 15px 0px"} Show hidden methods
          %br
          = link_to "Sort by Completion Score", {:controller => "design_methods", :action => "index", :sort_order => "completion"}, :class => "btn btn-primary"

      .col-xs-6
        = link_to new_design_method_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
          %span.glyphicon.glyphicon-plus
          Create Method

  / END TOP ROW
  #search-and-filter.row
    #sidebar.col-xs-4.col-sm-2
      = render "/layouts/sidebar"
    - if (current_user != nil) && (current_user.admin? || current_user.editor?)
      #results-container.col-xs-8.col-sm-10
        #hiddenMethods{:style => "display:none"}
          .h4{:style => "margin-left:3%"}
            Hidden Methods
          - @design_methods.where(:hidden => true).each do |method|
            = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(method,"3")
    - elsif current_user != nil && !@design_methods.where(:owner => current_user).empty?# signed in basic user with created methods
      #results-container.col-xs-8.col-sm-10
        #hiddenMethods
          .h4{:style => "margin-left:3%"}
            My Hidden Methods
          .h5{:style => "margin-left:3%"}
            An admin or editor has to approve these for public visibility
          - @design_methods.where(:owner => current_user).where(:hidden => true).each do |method|
            = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(method,"3")
    #sidebar.col-xs-4.col-sm-2

    #results-container.col-xs-8.col-sm-10
      - if (current_user != nil) && (current_user.admin? || current_user.editor?)
        #publicMethods
          .h4{:style => "margin-left:3%"}
            Public Methods
      - elsif current_user != nil && !@design_methods.where(:owner => current_user).empty?# signed in basic user with created methods
        #publicMethods
          .h4{:style => "margin-left:3%"}
            Public Methods

      - @design_methods.where(:hidden => false).each do |method|
        = render "/layouts/thumbnail", :object => @thumb_obj = thumbnail(method,"3")
