<style>
	.no-padding{
		padding: 0%;
	}
</style>

<!-- Method Name -->
<div class = "row">
	<div class="col-md-9 col-md-offset-3 left-pad">
    <h3><%= @method.name.nil? ? "-" : @method.name %></h3>
    <p>By <a href="<%= user_path(@author.id)%>"><%= @author.email != nil ? @author.email : "-" %></a></p>
	</div>

</div>
<!-- End Method Name -->

<div class = "row">
    <!-- SIDEBAR -->
	<div id="sidebar" class="col-md-3">
		<div class = "row">
			<h3>What You'll Need</h3>
		</div>

    <!-- PEOPLE -->
		<div class="row">
			<h4>People</h4>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				~<%= pluralize(@method.num_of_designers, "designer") %> 
			</p>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				~<%= pluralize(@method.num_of_users, "user") %> 
			</p>
		</div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
  	<div class="row">
			<h4>Tools</h4>
			<p>
				<span class="glyphicon glyphicon-pencil"></span>
				-
			</p>
		</div>
    <!-- END TOOLS -->

    <!-- TIME -->
  	<div class="row">
			<h4>Time</h4>
			<p>
				<span class="glyphicon glyphicon-time"></span>
				<%= pluralize(@method.time_period, @method.time_unit) %> 
			</p>
  	</div>
    <!-- END TIME -->

    <!-- TAGS -->
  	<div class="row">
			<h4>Tags</h4>
      <p>
        <% @method.tags.each do |t| %>
         <%= tagify(t.id, t.content, {:removable => false}) %>
        <% end %>
        <%= "No tags available" unless not @method.tags.empty? %>
      </p>
      <!-- END TAGS -->
  	</div>
	</div>
  	<!-- END SIDBAR -->


    <!-- MAIN VIEW  -->
  	<div class="col-md-9 add-padding">
       	<!-- MENU BAR -->
  		<div class="row">
  			<div class="col-md-3">
  				<span class="glyphicon glyphicon-star"></span>
  				<%= @method.likes %> likes
  			</div>
  			<div class="col-md-3">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<span class="glyphicon glyphicon-folder-open"></span>
                Add to Set
          			<b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
            		<li><a href="#">Add To Set</a></li>
            		<li class="divider"></li>
            		<li><a href="<%= set_index_path %>">My Favorites</a></li>
          		</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          				<span class="glyphicon glyphicon-share"></span>
          					Share
          				<b class="caret"></b>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Email</a></li>
          			</ul>
  			</div>
  			<div class="col-md-3">
  				<a href= "<%= edit_design_method_path(params[:id]) %>" class="pull-right">
          	<span class="glyphicon glyphicon-pencil">Edit</span>
          </a>
  			</div>
  		</div>
      	<!-- END MENU BAR -->
      <br>
      <!-- CONTENT -->
      <% if @method.main_image.present? %>
        <div class="row">
          <%= image_tag(@method.main_image, :width => "100%")%>
        </div>
      <% end %>
      <br>
  		<!-- OVERVIEW & PROCESS -->
  		<div class="row">
  			<h4> Overview </h4>
        	<%= @method.overview != nil ? md_format(@method.overview) : "-"%>
        	<h4> Process </h4>
        	<p><%= @method.process != nil ? md_format(@method.process) : "-" %></p>
    	</div>
    	<!-- END OF OVERVIEW & PROVESS -->

    	<!-- USERS INFORMATION -->

  		<div class="row">
  			<h4> Contributing Authors </h4>
  			<!-- POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  			<div class="col-xs-6">
  				<div class="col-xs-4">
  					<img alt="" src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" class="fit-all"/>
  				</div>
  				<div class="col-xs-8">
  					<p><a>Name of person</a></p>
  					<p>Some info</p>
  				</div>
  			</div>
  			<!-- END POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  		</div>
  		<!-- END OF USERS INFORMATIONS -->

  		<!-- CITATIONS -->
  		<h4>Citations</h4>
      <% if @citations.length != 0 && @citations != nil %>
          <ol> 
          	<% @citations.each do |c| %>
          		<li><%= c.text %></li>
          	<% end %> 
          </ol>
      <% else %>
        No citations available. 
      <% end %>
        <!-- END CITATIONS -->

        <!-- END CONTENT -->
  	</div>
  	<!-- END MAIN VIEW -->
</div>
