<style>
	.no-padding{
		padding: 0%;
	}
</style>

<!-- Method Name -->
<div class = "row">
	<div class="col-md-9 col-md-offset-3 left-pad">
    <h3><%= @method.name != nil ? @method.name.humanize().split.map(&:capitalize).join(' ') : "-" %></h3>
    <p>By <a href="<%= user_path(@author.id)%>"><%= @author.email != nil ? @author.email : "-" %></a></p>
	</div>

</div>
<!-- End Method Name -->

<div class = "row">
    <!-- SIDEBAR -->
	<div id="sidebar" class="col-md-3">
		<div class = "row">
			<h3>What You'll Need</h3>
		</div>

    <!-- PEOPLE -->
		<div class="row">
			<h4>People</h4>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				~<%= pluralize(@method.num_of_designers, "designer") %> 
			</p>
			<p>
				<span class="glyphicon glyphicon-user"></span>
				~<%= pluralize(@method.num_of_users, "user") %> 
			</p>
		</div>
    <!-- END PEOPLE -->

    <!-- TOOLS -->
  	<div class="row">
			<h4>Tools</h4>
			<p>
				<span class="glyphicon glyphicon-pencil"></span>
				-
			</p>
		</div>
    <!-- END TOOLS -->

    <!-- TIME -->
  	<div class="row">
			<h4>Time</h4>
			<p>
				<span class="glyphicon glyphicon-time"></span>
				<%= pluralize(@method.time_period, @method.time_unit) %> 
			</p>
  	</div>
    <!-- END TIME -->

    <!-- TAGS -->
  	<div class="row">
			<h4>Tags</h4>
      <p>
        No tags available
      </p>
      <!-- END TAGS -->
  	</div>
	</div>
  	<!-- END SIDBAR -->


    <!-- MAIN VIEW  -->
  	<div class="col-md-9 add-padding">
       	<!-- MENU BAR -->
  		<div class="row">
  			<div class="col-md-3">
  				<span class="glyphicon glyphicon-star"></span>
  				<%= @method.likes %> likes
  			</div>
  			<div class="col-md-3">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			<span class="glyphicon glyphicon-folder-open"></span>
                Add to Set
          			<b class="caret"></b>
          		</a>
          		<ul class="dropdown-menu">
            		<li><a href="#">Add To Set</a></li>
            		<li class="divider"></li>
            		<li><a href="<%= set_index_path %>">My Favorites</a></li>
          		</ul>
  			</div>
  			<div class="col-md-3">
  				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          				<span class="glyphicon glyphicon-share"></span>
          					Share
          				<b class="caret"></b>
          		</a>
          			<ul class="dropdown-menu">
            			<li><a href="#">Email</a></li>
          			</ul>
  			</div>
  			<div class="col-md-3">
  				<a href= "<%= edit_design_method_path(params[:id]) %>" class="pull-right">
          	<span class="glyphicon glyphicon-pencil">Edit</span>
          </a>
  			</div>
  		</div>
      	<!-- END MENU BAR -->
      <br>
      <!-- CONTENT -->
  		<div class="row">
        <% if @method.main_image.present? %>
          <%= image_tag(@method.main_image, :width => "100%")%>
        <% else %>
          <%= image_tag("no-image-available.png", :width => "100%", :height => "385")%>
        <% end %>
  		</div>
      <br>
  		<!-- OVERVIEW & PROCESS -->
  		<div class="row">
  			<h4> Overview </h4>
        	<%= @method.overview != nil ? simple_format(@method.overview) : "-"%>
        	<h4> Process </h4>
        	<p><%= @method.process != nil ? simple_format(@method.process) : "-" %></p>
    	</div>
    	<!-- END OF OVERVIEW & PROVESS -->

    	<!-- USERS INFORMATION -->

  		<div class="row">
  			<h4> Contributing Authors </h4>
  			<!-- POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  			<div class="col-md-6">
  				<div class="col-md-4">
  					<img alt="" src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" class="fit-all"/>
  				</div>
  				<div class="col-md-8">
  					<p><a>Name of person</a></p>
  					<p>Some info</p>
  				</div>
  			</div>
  			<!-- END POSSIBLE DO WHILE FOR USERS INFORMATION  -->
  		</div>
  		<!-- END OF USERS INFORMATIONS -->

  		<!-- DISCUSSION FIELD -->
  		<div class="row">
  			<h4>Discussions</h4>
  			<textarea class="form-control" rows="3" placeholder="Questions or comments about this method?"></textarea>
  			<button type="submit" class="btn btn-default pull-right">Submit</button>
  		</div>
  		<!-- END DISCUSSION FIELD -->

  		<!-- DISCUSSIONS -->
  		<div class="row">
  			<!-- !!! PROBABLY A DO WHILE HERE TO LOAD DISCUSSIONS !!! -->
  			<hr>
  			<div class="col-md-3">
  				<div class="row">
  					<div class="col-md-5 no-padding">
  						<img alt="" src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" class="fit-all"/>
  					</div>
  					<div class="col-md-7">
  						<a href="#">
          					Example of a Name
          				</a>
          				<p>
          					Example of City
          				</p>
  					</div>
  				</div>
  				<a href="#">
          			<span class="glyphicon glyphicon-share"></span>
          				Share
          		</a>
          		<br>
          		<a href="#">
          			<span class="glyphicon glyphicon-comment"></span>
          				Message
          		</a>
          		<br>
          		<a href="#">
          			<span class="glyphicon glyphicon-heart"></span>
          				Follow
          		</a>
          	</div>
  			<div class="col-md-9 no-padding">
  				<p>
  					Date
  				</p>
  				<p>
  					Message
  				</p>
  			</div>
  			<div class="row">
  				<div class="col-md-9 col-md-offset-3">
  					<button type="submit" class="btn btn-default">Useful (#)</button>
  					<button type="submit" class="btn btn-default">Interesting (#)</button>
  					<button type="submit" class="btn btn-default pull-right">Reply</button>
  				</div>
  			</div>
  			<!-- END OF POSSIBLE DO WHILE -->
	
  			<!-- LOAD MORE DISCUSSIONS -->
  			<hr>
  				<div style="text-align: center;">
  				<a href="#">
         	 		See More Discussions <b class="caret"></b>
        	  	</a>
        	  </div>
  			<hr>
  			<!-- END LOAD MORE DISCUSSIONS -->
  		</div>

  		<!-- RELATED METHODS AND CASE STUDIES -->
  		<div class="row">
        <!-- RELATED METHODS -->
  			<h4>Related Methods</h4>
          <% @similar_methods.each do |dm| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(dm,"4") %>
          <% end %>
  			<!-- END RELATED METHODS -->

        <!-- RELATED CASE STUDIES -->
  			<h4>Related Case Studies</h4>
          <% @similar_case_studies.each do |cs| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"4") %>
          <% end %>
  			<!-- ENF RELATED CASE STUDIES -->
  		</div>
  		<!-- END RELATED METHODS AND CASE STUDIES -->

  		<!-- CITATIONS -->
  		<h4>Citations</h4>
      <% if @citations.length != 0 && @citations != nil %>
          <ol> 
          	<% @citations.each do |c| %>
          		<li><%= c.text %></li>
          	<% end %> 
          </ol>
      <% else %>
        No citations available. 
      <% end %>
        <!-- END CITATIONS -->

        <!-- END CONTENT -->
  	</div>
  	<!-- END MAIN VIEW -->
</div>








