:css
  .no-padding {
    padding: 0%;
  }
  .method-toolbar {
    padding-top: 20px;
  }
  .nav-tabs {
    cursor: pointer;

  }
  .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;

  }
  #sidebar {
    padding-top: 50px;
  }
  .char-group {
    padding-bottom: 10px;
    clear: both;
  }
  .char-tag {
    overflow: hidden;
    max-width: 225px;
    text-overflow: ellipsis;
    float: left;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .reference {
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
  }
  .tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
  }

  .tooltips:hover .tooltiptext {
    visibility: visible;
  }
  #collection_name {
    float: left;
    width: 75%;
    height: 30px;
  }
  #new_collection {
    padding: 0px 20px 40px 20px;
    display: none;
  }
  #new-col-show {
    margin: 10px 20px;
  }
  .existing-method {
    padding: 3px 20px;
    white-space: nowrap;
    background: whitesmoke;
  }
:javascript
  $(document).ready(function() {
    $('.dropdown-menu input').click(function(e) {
      e.stopPropagation(); //This will prevent the event from bubbling up and close the dropdown when you type/click on text boxes.
    });

    $('#new-col-show').click(function(e) {
      $('#new-col-show').css("display", "none");
      $('#new_collection').css("display", "block");
      e.stopPropagation();
    });

    $('.dropdown-toggle').click(function(e) {
      $('#new-col-show').css("display", "block");
      $('#new_collection').css("display", "none");
    });
  });


#sidebar.col-md-3
  .row
    %h4 People
    %p
      %span.glyphicon.glyphicon-user
      \~#{pluralize(@method.num_of_designers, "designer")}
    %p
      %span.glyphicon.glyphicon-user
      \~#{pluralize(@method.num_of_users, "user")}
  .row
    %h4 Tools
    %p
      %span.glyphicon.glyphicon-pencil
      \-
  .row
    %h4 Time
    %p
      %span.glyphicon.glyphicon-time
      = pluralize(@method.time_period, @method.time_unit)
  .row
    %h4 Tags
    %p
      - @method.tags.each do |t|
        = tagify(t.id, t.content, {:removable => false})
      = "No tags available" unless not @method.tags.empty?
  - if (current_user != nil) && (current_user.admin? || current_user.editor? || current_user.author?)
    .row 
      %h4 Completion Score
      %p 
        /calculate the completion score if it has not been done already
        - score = 0
        - for attribute in @design_method.attributes.keys
          - if @design_method[attribute] != nil && @design_method[attribute] != ""
            - score += 1
        - @design_method.completion_score = score
        - @design_method.save
        = score
       
  .row
    %h4 Characteristics
    - @method.method_categories.each do |category|
      .char-group
        = category.name
        .char-list
          - @method.characteristics.select{|char| char.characteristic_group.method_category.id == category.id}.each do |char|
            = link_to tagify(char.id, "#{char.characteristic_group.name}: #{char.name}", {:removable => false, :class => "char-tag"}), char
#content-column.col-md-9
  /Method header
  .row
    .col-md-6.no-padding
      - if @design_method.draft == true
        %h3{:style=>"color:blue"}= @method.name
      - else
        %h3= @method.name

    .col-md-6.pull-right
      .pull-right
        %ul.list-inline.method-toolbar
          %li
            %span.glyphicon.glyphicon-eye-open
            = pluralize(@method.likes, 'view')

          - if !current_user.nil?
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.glyphicon.glyphicon-folder-open
                Add to Collection
                %b.caret
              %ul.dropdown-menu
                -@collections.each do |collection|

                  - if collection.design_methods.include? @method
                    %li.existing-method
                      = collection.name + " (added)"
                  - else
                    %li=link_to collection.name, add_to_collection_path(:col_id => collection.id, :method_id => @method.id)

                %a.btn.btn-default.pull-right.btn-index-create#new-col-show
                  %span.glyphicon.glyphicon-plus
                  Add to New Collection
                = form_for @collection do |f|
                  .input-group-lg{:style => "margin-top: 10px;margin-bottom: 10px;"}
                  = f.hidden_field :method_id, :value => @method.id
                  = f.text_field :name, :class=> "form-control", :placeholder => ""
                  = f.submit "Add", :id => "add-set-btn", :class => "btn btn-primary pull-right"
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.glyphicon.glyphicon-share
              Share
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Email
          %li
            %a{:href => edit_design_method_path(params[:id])}
              %span.glyphicon.glyphicon-pencil
              Edit

    /Method top level categories
  .row
    - @method.method_categories.each do |category|
      // = link_to tagify(category.id, category.name, {:removable => false}), category
      // When method_category#show is implemented, uncomment line above.
      %span.char-label= category.name
      = "No categories available!" unless not @method.method_categories.empty?
  /Tabs
  .row.padding
    #tabs
      %ul.nav.nav-tabs
        %li.active{"background-color"=> "#303136"}
          %a{"data-link" => "overview"} Overview
        %li
          %a{"data-link" => "instructions"} Instructions
        %li
          %a{"data-link" => "resources"} Resources
  /Method overview
  .tab-pane.row{"data-link" => "overview"}
    - if @method.draft?
      - if !@method.suggestions.blank?
        %h3{:style=>"color:red;"} Suggestions
        %p= md_format(@method.suggestions)
        %h5{:style=>"color:red"} End of Suggestions
    = @method.overview != nil ? md_format(@method.overview) : "No overview available"
    - if !@method.synonyms.blank?
      %p2
        %strong Synonyms:
        = @method.synonyms

    - if @method.has_image?
      .row
      = image_tag(@method.image_url, :width => "100%")

    / Displays image attribution
    - if !@method.image_attribution.blank? 
      %h5 Image Attributions
      %p
        = md_format(@method.image_attribution)

    - if !@method.usage.blank?
      %h4 When to use
      %p= md_format(@method.usage)

    - if !@method.benefits.blank?
      %h4 Benefits
      %p= md_format(@method.benefits)

    - if !@method.limitations.blank?
      %h4 Limitations/Risks
      %p= md_format(@method.limitations)

    - if !@method.skills.blank?
      %h4 Skills that help:
      %p= md_format(@method.skills)
    - if !@method.videoURL.blank?
      %h4 Video One

      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "315", :src => @method.videoURL, :width => "560"}
    - if !@method.video_caption.blank?
      %p
        = md_format(@method.video_caption)
    - if !@method.video_attribution.blank?
      %h5 Video Attributions
      %p
        = md_format(@method.video_attribution)
    - if !@method.videoURL_two.blank?
      %h4 Video Two


      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "315", :src => @method.videoURL_two, :width => "560"}
    - if !@method.video_two_caption.blank?
      %p
        = md_format(@method.video_two_caption)
    - if !@method.video_two_attribution.blank?
      %h5 Video Attributions
      %p
        = md_format(@method.video_two_attribution)
    %h4 Contributing Authors
    .col-xs-6
      .col-xs-4
        - if @author.profile_picture.present?
          = image_tag(@author.profile_picture, class: "fit-all", :style => "padding: 10%")
        - else
          /TODO lol we need to self host this asap
          = image_tag("https://s3-us-west-1.amazonaws.com/thedesignexchange-staging/anonymous_silhouette.jpg", class: "fit-all",:style => "padding: 10%")
      .col-xs-8
        %p= link_to @author.first_name + " " + @author.last_name, user_path(@author.id)
        %p= @author.email != nil ? @author.email : "-"


  /Method instructions
  .tab-pane.row{"data-link" => "instructions"}
    = @method.process != nil ? md_format(@method.process) : "No instructions available"

  /Method resources
  .tab-pane.row{"data-link" => "resources"}
    - if !@method.online_resources.blank?
      %h4&= "Online Tools & Resources"
      %p= md_format(@method.online_resources)

    - if !@method.history.blank?
      %h4 History
      %p= md_format(@method.history)

    - if !@method.critiques.blank?
      %h4 Critiques
      %p= md_format(@method.critiques)

    - if @citations != nil && @citations.length != 0
      %h4 References used in this Article
      %ol
        /Makes citation a hyperlink if it is a link
        - @citations.each do |c|
          -require "uri"
          -link = URI.extract(c.text)
          -if link.length == 0
            %li.reference= c.text
          -else
            %li.reference
              %a{ :href => link[0] } #{link[0]}

    - if !@method.additional_reading.blank?
      %h4 Additional Reading
      %p= md_format(@method.additional_reading)

    - if !@method.case_studies.blank?
      %h4 Related Case Studies
      - @method.case_studies.each do |cs|
        = render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"4")

