:css
  .no-padding{
  	padding: 0%;
  }
/ Method Name
.row
  .col-md-9.col-md-offset-3.left-pad
    - if @method.method_categories[0].nil?
      %h3= @method.name.nil? ? "-" : @method.name
    - else
      %h3= @method.name.nil? ? "-" : @method.method_categories[0].name + ": " + @method.name
/ End Method Name
.row
  / SIDEBAR
  .col-md-3#sidebar
    = render partial: "/application/props/props", locals: { entity: @method }
  / END SIDBAR

  / MAIN VIEW
  .col-md-9.add-padding
    / MENU BAR
    .row
      .col-md-3
        %span.glyphicon.glyphicon-star
        = @method.likes
        likes
      .col-md-3
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.glyphicon.glyphicon-folder-open
          Add to Set
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Add To Set
          %li.divider
          %li
            %a{:href => set_index_path} My Favorites
      .col-md-3
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.glyphicon.glyphicon-share
          Share
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Email
      .col-md-3
        %a.pull-right{:href => "#{edit_design_method_path(params[:id])}"}
          %span.glyphicon.glyphicon-pencil Edit
    / END MENU BAR
    %br/
    / CONTENT
    - if @method.main_image.present?
      .row
        = image_tag(@method.main_image, :width => "100%")
    %br/
    / OVERVIEW & PROCESS
    .row
      %h4 Overview
      = @method.overview != nil ? md_format(@method.overview) : "-"
      %h4 Process
      %p= @method.process != nil ? md_format(@method.process) : "-"
    / END OF OVERVIEW & PROVESS
    / USERS INFORMATION
    .row
      %h4 Contributing Authors
      / POSSIBLE DO WHILE FOR USERS INFORMATION
      .col-xs-6
        .col-xs-4
          - if @author.profile_picture.present?
            = image_tag(@author.profile_picture, class: "fit-all", :style => "padding: 10%")
          - else
            = image_tag("http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg", class: "fit-all",:style => "padding: 10%")
        .col-xs-8
          %p= link_to @author.first_name + " " + @author.last_name, user_path(@author.id)
          %p= @author.email != nil ? @author.email : "-"
      / END POSSIBLE DO WHILE FOR USERS INFORMATION
    / END OF USERS INFORMATIONS
    / CITATIONS
    %h4 Citations
    - if @citations.length != 0 && @citations != nil
      %ol
        - @citations.each do |c|
          %li= c.text
    - else
      No citations available.
    / END CITATIONS
    / END CONTENT
  / END MAIN VIEW
