<style>
  @import url(http://fonts.googleapis.com/css?family=Arvo:700);

  .header-font{
    font-family: 'Arvo', serif;
  }
</style>

<div class="jumbotron">
  <div class="container">
    <div class="row">
  		<div class="col-md-8">
  			<h1 class="header-font">TheDesignExchange</h1>
  			<p class="subtitle">where designers and researchers share methods and best practices</p>
  			</br>
  			<p>Search</p>
  			<form  id="search" role="search">
          	<input type="text" class="form-search" placeholder="Search">
        		<button type="submit" class="btn btn-default" onclick="window.location.href = '<%= search_design_methods_path %>/'+ $('form input.form-search').val();">Submit</button>
      	</form>
  		</div>

      <% if !user_signed_in? %>
      		<div class="col-md-4"><p>Sign In</p>
        		<%= form_for(:user, :url => {:controller => 'devise/sessions', :action => 'new'}) do |f| %>
               <div class="input">
                <%= f.email_field :email, {:autofocus => true, :placeholder => "Username", :class => "form-control"} %>
      			   </div>
      			   </br>
      			   <div class="input">
                  <%= f.password_field :password, {:placeholder => "Password", :class => "form-control"} %>
      			   </div>
      			   <div class="row">
       				   <div class="col-md-8"><%= link_to "Create an account", new_registration_path(:user) %></div>
        				    <div class="col-md-4">
                      <%= f.submit "Log In", {:class=> "btn btn-default pull-right" } %>
                  </div>
      			   </div>
          <% end %>
      		</div>
      <% end %> 

	  </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  var cache = {};

  $("form#search input").autocomplete(DE.Autocomplete);
});
</script>