<div class='row no-margin-left no-margin-right'>
	<div class='col-md-1'>
		<h2 align='center'><%= "#{@discussion[:likes]}" %></h2>
		<p align='center'>likes</p>
	</div>
  <div class='col-md-11'>
  	<a class='font-discussion-tittle'> <%= "#{@discussion[:title]}" %> </a>
      <%= "#{@discussion[:time]}" %> ago 
      <a><%= "#{@discussion[:name]}" %></a>
  		<p> <%= "#{@discussion[:responses]}" %> response</p>
      <p>
        <% tagifier(@discussion[:tags]).each do |category| %>
          <span class="tag-label label-gap"> <%= "#{category}" %> </span>
        <% end %>
      </p>
  </div>
  <div class='col-md-12'>
  	<hr>
  </div>
</div>