%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

-# sprockets doesn't work so abandoning this separate style sheet for now 
-# = stylesheet_link_tag "_headernav", :media => "all"

/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-113963401-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113963401-1');

:javascript
  $(function(){
    $('form.search-query input').autocomplete(DE.Autocomplete);
  });

  $(document).ready(function() {

    if ($("#search-input").val().length > 0) {
      $("#search-input").focus();
    }
    
    $("#search-btn").click(function() {
      if ($("#search-input").val().length > 0) {
        $("#search").submit();
      } else if ($("#search-btn").hasClass("inactive-search")) {
        $("#search-btn").addClass("active-search");
        $("#search-btn").removeClass("inactive-search");
        $("#search-input").css("transition", "0.4s ease-in-out");
        $("#search-input").focus();
      } else {
        $("#search-btn").addClass("inactive-search");
        $("#search-btn").removeClass("active-search");
      }
    });

    $("#search-input").focusout(function() {
      if (!($("#search-input").val().length > 0)) {
        $("#search-btn").addClass("inactive-search");
        $("#search-btn").removeClass("active-search");
      } else {
        $("#search-input").focus();
      }
    });

    $("#mobile-search-btn").click(function() {
      if (($("#mobile-search-input").val().length > 0)) {
        $("#search-mobile").submit();
      }
    })
  });


:css
  .navbar-nav .mobile-user-session {
      display: none;
  }

  .navbar {
      top: 0;
      background-color: #ffffff;
      position: fixed;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      font-size: 16px;
      border: none;
      border-radius: 0;
      z-index: 2;
      width: 100%;
  }

  .navbar a {
      color: #4F4F4F;
  }

  .navbar .dropdown-menu {
      font-size: 16px;
  }

  .navbar li a:hover, .navbar-nav li a:focus {
      background-color: transparent;
      color: #6BC06D;
      opacity: 1;
  }

  .navbar li.active {
      font-weight: 700;
  }

  li.active a {
      color: #6BC06D;
  }

  #sign-in-btn {
      border: 1px solid #828282;
      font-size: 16px;
      border-radius: 4px;
      margin-left: 30px;
  }

  #sign-in-btn:hover {
      color: #ffffff;
      background-color:#828282;
  }

  .navbar-toggle .icon-bar {
      background-color: #4F4F4F;
  }

  .navbar-toggle:hover .icon-bar {
      background-color: #6BC06D;
  }

  #search-btn {
      background-color: transparent;
      position: relative;
      top: 2px;
      z-index: 2;
  }

  #search-btn:active, #search-btn:focus {
      box-shadow: none;
      outline: none
  }

  .search-icon {
      background-color: transparent;
      color: #4F4F4F;
      cursor: pointer;
      font-size: 16px;
  }

  .search-icon:hover {
      color: #6BC06D;
  }

  #search-input {
      position: absolute;
      right: 0;
      width: 0;
      outline: none;
      box-shadow: none;
      border: none;
  }

  #search-input:focus {
      border-bottom: 1px solid #4F4F4F;
      width: 200px;
  }


  .search-group {
      display: none;
  }

  #search {
      display: block;
  }

  #search-mobile {
      display: none;
  }

  @media (max-width: 850px) {

      #mobile-login {
          margin-top: 16px;
      }

      .navbar-nav .mobile-user-session {
          display: block;
          font-weight: bold;
      }

      #mobile-search-btn {
          background-color: transparent;
          z-index: 4;
      }

      #mobile-search-input {
          outline: none;
          box-shadow: none;
          border: none;
          border-bottom: 1px solid #4F4F4F;
          position: absolute;
          width: 200px;
          right:16px;
      }

      #mobile-search-btn:active, #mobile-search-btn:focus {
          box-shadow: none;
          outline: none
      }
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav li {
          float: none;
      }
      .navbar-nav li a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .navbar-text {
          float: none;
          margin: 15px 0;
      }
      /* since 3.1.0 */
      .navbar-collapse.collapse.in { 
          display: block!important;
      }
      .collapsing {
          overflow: hidden!important;
      }
      #search {
          display: none;
      }

      #search-mobile {
          display: block;
          padding: 0 10px;
      }

      #sign-in-btn {
          display: none;
      }


      /* for the dropdown */
      .navbar-nav .open .dropdown-menu.tdx {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;      
      }

      .navbar-nav .open .dropdown-menu.tdx li  a {
        line-height: 20px;
        padding: 5px 15px 5px 25px;
      }
  }


/ bootstrap 3.3 
%nav.navbar{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        = image_tag "logo-DE.png", :width => "200", size: "37x32"
      = form_tag('/search', class: 'search-query navbar-form navbar-right', id: 'search-mobile', role: 'search')
      .form-group#search-group
        .input-group
          - query_text = @query || ""
          = text_field_tag('query', query_text, placeholder: 'Search', class: "form-control", id: 'mobile-search-input')
          .input-group-btn
            %button.btn#mobile-search-btn.inactive-search
              %i.glyphicon.glyphicon-search.search-icon
      </form>
    #navbar.navbar-collapse.collapse
      / if user is not signed in
      - if !user_signed_in?
        = link_to "Login", new_user_session_path, :id => "sign-in-btn", :class => "btn navbar-btn navbar-right"
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Methods", design_methods_path
        %li= link_to "Case Studies", case_studies_path
        %li= link_to "Collections", collections_path
        %li= link_to "About", '/about'
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.email
              %b.caret
            %ul.dropdown-menu.tdx
              - if current_user.admin?
                %li= link_to "Admin", administrator_path
              %li= link_to "Profile", user_path(current_user.id)
              %li= link_to "Account Information", edit_user_registration_path
              %li
                %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
                  Send Feedback
              %li.divider
              %li= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
              - if current_user != nil && (current_user.admin? || current_user.editor? || current_user.author?)
                %li= link_to "Drafts", drafts_path
        - else
          %li= link_to "Login", new_user_session_path, :class => "mobile-user-session", :id => "mobile-login"
          %li= link_to "Sign Up", "users/sign_up", :class => "mobile-user-session"
      = form_tag('/search', class: 'search-query navbar-form navbar-right', id: 'search', role: 'search')
      .form-group#search-group
        .input-group
          - query_text = @query || ""
          = text_field_tag('query', query_text, placeholder: 'Search', class: "form-control", id: 'search-input')
          .input-group-btn
            %button.btn#search-btn.inactive-search
              %i.glyphicon.glyphicon-search.search-icon
      </form>
// display flash errors if any
.notice
  - flash.each do |type, msg|
    - type = :success if type == :notice
    = content_tag(:div, msg, class: "flash-alert alert alert-#{type}")


