:javascript
  $(function(){
    // Set up listeners for sidebar accordion
    $('.menu-toggle').click(updateAccordion);
    // Set up listeners for pagination links
    $('.pagination').children('a').click(submitSearchForm);
  });

  function updateAccordion (event) {
    event.stopPropagation(); // prevents clicks on nested accordion categories from collapsing their parent category
    target = event.currentTarget;
    // toggle arrow icons
    $(target).children('.glyphicon').toggleClass('glyphicon-chevron-right').toggleClass('glyphicon-chevron-down');
    // toggle sub-content visibility
    if($(target).children('.glyphicon').hasClass('glyphicon-chevron-down')) {
      $(target).siblings('ul').slideDown("fast");
    } else {
      $(target).siblings('ul').slideUp("fast");
    }
  }

  function submitSearchForm (event) {
    event.preventDefault(); // don't follow link
    // extract page parameter from link
    pageNumRegex = new RegExp("page=(.*)$");
    pageNum = pageNumRegex.exec(event.target.href)[1];
    // update and submit form
    if($('.tab-pane#dm').is(':visible')) {
      $('input#hidden-dm-page-input').val(pageNum);
      $('input#hidden-visible-tab-input').val('dm');
      $('input#hidden-dm-page-input').parent().submit();
    } else {
      $('input#hidden-cs-page-input').val(pageNum);
      $('input#hidden-visible-tab-input').val('cs');
      $('input#hidden-cs-page-input').parent().submit();
    }
  }

:css
  .sidebar-element {
    padding: 0;
  }
  .sidebar-leaf {
  	font-weight: normal;
  	display: block;
  }
  .sidebar-maincategory {
  	font-weight: bold;
    cursor: pointer;
  }
  #sidebar {
     text-decoration: none;
     cursor: pointer;
     overflow: hidden;
     margin-right: 0;
     padding-right: 0px;
     /*width: 100%;*/
     height: 100%;
     /*border-right: 2px solid #ddd;*/
  }
  li {
    list-style: none;
  }
  ul {
    padding-left: 15px;
  }
  ul.collapsed {
    display: none;
  }

.col-md-12
  %h4 Method Filters
  = form_tag('/search')
  %input{hidden: "hidden", name: "query", value: @query, type: "text", id: "hidden-search-input"}
  %input{hidden: "hidden", name: "dm_page", value: @dm_page, type: "text", id: "hidden-dm-page-input"}
  %input{hidden: "hidden", name: "cs_page", value: @cs_page, type: "text", id: "hidden-cs-page-input"}
  %input{hidden: "hidden", name: "visible_tab", value: "dm", type: "text", id: "hidden-visible-tab-input"}
  - @category_hashes.each do |category|
    %ul.sidebar-element

      %li.category
        %span.menu-toggle
          %span.glyphicon.glyphicon-chevron-right
          %span.sidebar-maincategory
            = "#{category[:name]} (#{category[:count]})"

        %ul.char-group-list.collapsed
          - category[:char_groups].each do |char_group|
            %li.char-group
              %span.menu-toggle
                %span.glyphicon.glyphicon-chevron-right
                %span
                  = char_group[:name]

              %ul.char-list.collapsed
                - char_group[:chars].each do |char|
                  %li.char
                    - checkbox_id = "search_cg_#{char_group[:id]}_char_#{char[:id]}"
                    - checkbox_form_name = "char_group_filters[#{char_group[:id]}][]"
                    %input{id: checkbox_id, name: checkbox_form_name, type: "checkbox", value: char[:id], checked: char[:is_checked]}
                    %label{for: checkbox_id}
                      = "#{char[:name]} (#{char[:count]})"

  = submit_tag('Filter', class:"btn btn-default")
  </form>
