:javascript
  $(function(){
    enableAccordion();

    $('span.menu-toggle').click(function(event) {
      $(event.target).toggleClass('fa-caret-right').toggleClass('fa-caret-down');
      if($(event.target).hasClass('fa-caret-down')) {
        $(event.target).siblings('ul').slideDown("fast");
      } else {
        $(event.target).siblings('ul').slideUp("fast");
      }
    });
  });

  function enableAccordion(){
    $('.category').find('.category-heading').click(function() {
      var content = $(this).siblings();
      content.toggleClass('in');
    });
  }

:css
  .sidebar-element {
    padding: 0;
  }
  .sidebar-leaf {
  	font-weight: normal;
  	display: block;
  }
  .sidebar-maincategory {
  	font-weight: bold;
    cursor: pointer;
  }
  #sidebar {
     text-decoration: none;
     cursor: pointer;
     overflow: hidden;
     margin-right: 0;
     padding-right: 0px;
     /*width: 100%;*/
     height: 100%;
     /*border-right: 2px solid #ddd;*/
  }
  li {
    list-style: none;
  }
  ul {
    padding-left: 15px;
  }
  ul.collapsed {
    display: none;
  }

.col-md-12
  %h4 Method Filters
  = form_tag('/search')
  %input{hidden: "hidden", name: "query", type: "text", id: "hidden-search-input"}
  - @category_hashes.each do |category|
    %ul.sidebar-element

      %li.category
        %span.menu-toggle.fa.fa-caret-right
        %span
          = link_to "#{category[:name]} (#{category[:count]})", search_category_design_methods_path(category[:id]), :class=> "category-heading sidebar-maincategory"

        %ul.char-group-list.collapsed
          - category[:char_groups].each do |char_group|
            %li.char-group
              %span.menu-toggle.fa.fa-caret-right
              %span= link_to char_group[:name], "#", :class => "char-group-heading"

              %ul.char-list.collapsed
                - char_group[:chars].each do |char|
                  %li.char
                    %input{id: "search_cg_#{char_group[:id]}_char_#{char[:id]}", name: "char_group_filters[#{char_group[:id]}][]", type: "checkbox", value: "#{char[:id]}"}
                    %label{for: "search_cg_#{char_group[:id]}_char_#{char[:id]}"}
                      = "#{char[:name]} (#{char[:count]})"

  = submit_tag('Filter', class:"btn btn-default")
  </form>
