<div class= "<%= "col-sm-6 col-md-#{@thumb_obj[:col_md_value]} left-top-padding" %>" >
  <div class="thumbnail search-item">
  	<div class="caption">
  		<h5> 
        <%= link_to "#{@thumb_obj[:name]}", eval("#{@thumb_obj[:link]}_path(#{@thumb_obj[:id]})") %> 
      </h5>
      <p>
        <span class="glyphicon glyphicon-star"></span> 
        <%= "#{@thumb_obj[:likes]}" %> Likes
      </p>
  		<p class="truncate-multiline"> 
        <%= "#{@thumb_obj[:description]}" %>
      </p> 
      <p>
        <% tagifier(@thumb_obj[:tags]).each do |category| %>
          <span class="tag-label label-gap"> <%= "#{category}" %> </span>
        <% end %>
      </p>
  	</div>
  </div>
</div>