
<!DOCTYPE html>
<html>
<head>
  <title>CustomDesignExchange</title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <script> 

    $(function(){
      $('button').click(function(e){
        e.preventDefault();
      });
    })
  </script>
  <style>

  .jumbotron{
    font-size: 17px;
    background: #2a3e51;
    color: white;
  }
  .subtitle{
    font-size: 20px;
  }

  .login-margin{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  }

  </style>
</head>
<body>



<%= render "layouts/headernav" %>
<!-- Header for the de#index view -->
<% if params[:controller] == "application" and params[:action] == "index" %>
  <%= render "layouts/deheader" %>
<% end %>
<div class="container">
	 <%= yield %>
</div>
</body>
</html>
