!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "tDX - #{params[:controller].camelize}"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    :javascript
      $(function(){
        $('button').click(function(e){
          e.preventDefault();
        });
      })
    :css
      .nav-bar-margin{
        padding-left: 20px;
        margin-right: 20px;
        margin-left: 10px;
      }

      .font-discussion-tittle{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 30px;
      }
      .container {
        position: relative;
        top: 50px;
      }

      @media (max-width: 768px) {
        .container {
          top: 0;
        }
      }

      .footer{
        position:relative;
        bottom:0%;
        width:100%;
        height:60px;   /* Height of the footer */
        margin-top:100px;
      }


    %script{:src => "https://www.google.com/recaptcha/api.js"}

  %body
    = render "layouts/headernav"
    .container
      = yield
  .footer
    %footer.site-footer{}
      = render "layouts/footer"
      = render "layouts/feedbackform"
