<!DOCTYPE html>
<html>
<head>
  <title>CustomDesignExchange</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <script> 
    $(function(){
      $('button').click(function(e){
        e.preventDefault();
      });
    })


  </script>
  <style>

    .nav-bar-margin{
      padding-left: 20px;
      margin-right: 20px;
      margin-left: 10px;
    }

    .font-discussion-tittle{
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 30px;

    }

  </style>
</head>
<body>


<%= render "layouts/headernav" %>
   <%= yield %>
</body>
</html>
